* {
    transition: 0.2s;
    font-family: 'Raleway', sans-serif;
}

*::selection {
    background-color: #ff66aa;
    color: white;
}

/*Light Mode CSS override*/

body.light {
    background-color: #fff;
}

body.light h1,
body.light h2,
body.light h3,
body.light h4,
body.light h5,
body.light h6 {
    color: black;
}

body.light p,
body.light label,
body.light li {
    color: black;
}

body.light .text-muted {
    color: #7b7b7b!important;
}

body.light .changelog h1,
body.light .changelog h2,
body.light .changelog h3,
body.light .changelog h4,
body.light .changelog h5,
body.light .changelog h6 {
    color: black;
}

body.light .changelog p,
body.light .changelog label,
body.light .changelog li {
    color: black;
}

body.light #home-logo {
    filter: invert(1);
}

body.light #home-welcome,
body.light #home-description,
body.light .rulesets-description,
body.light .rulesets-name {
    color: black!important;
}

body.light .modal-header,
body.light .modal-body,
body.light .modal-footer {
    background-color: white;
}

body.light footer {
    background-color: white;
}

body.light .github-footer {
    color: black;
}

body.light .github-footer:hover {
    color: #ff66aa;
}

body.light a.dropdown-item {
    font-family: 'Raleway', sans-serif;
    color: black;
}

body.light .dropdown-menu {
    background-color: white;
}

body.light .dropdown-item:hover {
    background-color: #e3e7ec;
}

body.light .profile-email {
    color: black;
}

body.light .list-group-item {
    background-color: rgba(255, 255, 255, .8);
}

body.light .list-group {
    background-color: rgba(255, 255, 255, 0);
}

body.light .list-group-item:hover {
    background-color: rgba(255, 255, 255, .3);
}

body.light .mobile-header-text {
    color: black;
}

body.light .form-label label {
    color: black;
}

body.light .form-label {
    color: black;
}

body.light .icon-menu {
    color: #ff539f;
}

body.light #profile-menu {
    background-color: rgba(255, 255, 255, .8);
    color: black;
}

body.light .modal-body {
    color: black;
}

body.light button.btn-close {
    filter: invert(0);
}

body.light .form-current {
    color: black;
}

body.light #install-logo {
    color: black;
}

body.light button.accordion-button,
body.light button.accordion-button:focus,
body.light button.accordion-button:not(.collapsed) {
    color: black;
}

body.light button.accordion-button.collapsed,
body.light button.accordion-button:not(.collapsed) {
    background-color: #fadce5;
    border-color: black;
}

body.light button.accordion-button:focus {
    background-color: #fadce5;
    border-color: white;
}

body.light .accordion-body {
    background-color: white;
}

body.light .accordion-button::after,
body.light .accordion-button:not(.collapsed)::after {
    filter: invert(0);
}

body.light .btn-subpage {
    color: #ff66aa;
    background-color: #fadce5;
    border-radius: 25px;
}

body.light .beatmap-card {
    background-color: rgba(224, 224, 224, 0.8);
    backdrop-filter: blur(5px);
}

body.light .beatmap-title {
    color: #ff66aa;
}

/*Default theme CSS*/

body {
    background-color: #2d2d2d;
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    font-family: all-round-gothic, sans-serif;
    font-weight: 600;
    font-style: normal;
}

code {
    font-family: 'JetBrains Mono', monospace;
}

a {
    color: #ff66aa;
}

a:hover {
    color: #ff268c;
}

p, label, li {
    color: white;
    font-family: 'Raleway', sans-serif;
}

#profile-picture, #header-logo{
    transition: 0.2s;
}

#header {
    background-color: rgba(74,74,74,0);
    transition: 0.2s;
    z-index: 2;
}

footer {
    background-color: #4a4a4a;
}

.hero, .hero-profile {
    height:30vh;
    min-height:400px;
    background-size: cover;
    margin:0!important;
    padding:12vh!important;
    transition: 0.2s
}

.nav-text {
    color: #ff63ac;
    font-size: 20px;
    transition: 0.2s
}

.nav-text:hover {
    letter-spacing: 2px;
}

.round-font-normal {
    font-family: all-round-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.round-font-bold {
    font-family: all-round-gothic, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.text-muted {
    color: #b3b3b3 !important;
}

.btn-rurusetto {
    background-color: #ff66aa!important;
    color: #fff!important;
    border-color: #ff66aa!important;
}

.bg-rurusetto {
    background-color: #ff66aa!important;
    color: #fff!important;
    border-color: #ff66aa!important;
}

.bg-rurusetto-alert {
    background-color: #ff8bc5 !important;
    color: #fff!important;
    border-color: #ff66aa!important;
}

.github-footer {
    color: #fff;
}

.github-footer:hover {
    color: #ff66aa;
}

.nav-link:hover {
    color: #ff268c!important;
}

a.dropdown-item {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}

.dropdown-menu {
    background-color: #5f5f5f;
}

.dropdown-item:hover {
    background-color: #8f8f8f;
}

.dropdown-pfp::after {
    content:none;
}

.text-box {
    color: white;
    font-family: 'Raleway', sans-serif;
    background-color: #4a4a4a;
}

.blur-bg {
    backdrop-filter: blur(5px);
}

.made-by-footer {
    transition: 0.2s;
}

.made-by-footer:hover {
    letter-spacing: 2px;
}

#mobile-header {
    opacity: 0;
    z-index: 1;
    transition: 0.2s;
    min-height: 68px;
    height: 8%;
    background-color: rgba(74, 74, 74, 0);
}

#mobile-logo {
    transition: 0.2s;
}

@media (max-width: 1009px) {
    #mobile-header {
        opacity: 100%;
    }

    #desktop-header {
        opacity: 0;
    }
}

@media (max-width: 991px) {
    #last-edit {
        order: 1;
    }

    #infobox {
        order: 2;
    }

    #wiki {
        order: 3;
    }
}

#navbarToggleExternalContent {
    margin-top: 77px;
    background-color: rgba(74, 74, 74, .8);
    backdrop-filter: blur(5px);
}

.list-group-item {
    border: 0;
    background-color: rgba(74, 74, 74, .8);
}

.list-group {
    background-color: rgba(74, 74, 74, 0);
}

.list-group-item:hover {
    border: 0;
    background-color: rgba(74, 74, 74, .3);
}

.mobile-header-text {
    color: white;
}

#arrow-profile-menu {
    transition: 0.2s
}

.modal-header,
.modal-body,
.modal-footer {
    background-color: #4a4a4a;
}

.modal-body {
    color: white;
}

.discord-hover:hover {
    cursor: pointer;
}

#signout-button:hover {
    cursor: pointer;
}

button.btn-close {
    filter: invert(1);
}

.changelog span {
    font-family: 'JetBrains Mono', monospace;
}

#home-welcome, #home-description {
    color: white;
}

.rulesets-description, .rulesets-name {
    color: white;
}

.fa-times {
    color: #842029;
}

.fa-check {
    color: #0f5132;
}

.profile-email {
    color: white;
}

.changelog h1, h2, h3, h4, h5, h6 {
    color: white;
}

.changelog p, label, li {
    color: white;
}

.form-label {
    color: white;
}

.form-label label{
    color: white;
}

.form-error {
    color: red;
}

#profile-menu {
    background-color: rgba(74, 74, 74, .8);
    color: white;
}

#nav-listing:focus,
#nav-status:focus,
#nav-install:focus,
#nav-changelog:focus {
    color: #ff2a87;
}

.form-current {
    color: white;
}

.install-text {
    font-size: 20px;
}

.install-header {
    font-size: 50px;
}

.install-img {
    max-width: 80%;
    border-radius: 10px;
}

#install-logo {
    color: white;
}

button.accordion-button,
button.accordion-button:focus,
button.accordion-button:not(.collapsed) {
    color: white;
}

button.accordion-button.collapsed,
button.accordion-button:not(.collapsed) {
    background-color: #4a4a4a;
    border-color: white;
}

button.accordion-button:focus {
    background-color: #6f6f6f;
    border-color: #6f6f6f;
}

.accordion-body {
    background-color: #4a4a4a;
}

.accordion-button::after {
    filter: invert(1);
}

.accordion-button:not(.collapsed)::after {
    filter: invert(0.4);
}

.editormd-preview p,
.editormd-preview label,
.editormd-preview li {
    color: inherit;
}

.btn-subpage {
    color: #ff66aa;
    background-color: #4a4a4a;
    border-radius: 25px;
}

.beatmap-card {
    background-color: rgba(45, 45, 45, 0.9);
    backdrop-filter: blur(4px);
    font-size: 92%;
}

.beatmap-title {
    color: #ff66aa;
    font-size: 125%;
}

.beatmap-artist,
.beatmap-source {
    font-size: 90%;
}

.beatmap-comment {
    line-height: 1.0;
}

@media (max-width: 1009px) {
    #profile-pic {
        flex: 0 0 auto;
        width: 25%;
    }

    #profile-detail {
        flex: 0 0 auto;
        width: 75%;
    }

    #profie-container {
        margin-top: -120px;
    }

    #recommend-beatmap-link {
        width: 100%!important;
    }
}

.color-white {
    color: white;
}

.profile-link {
    transition: 0.05s!important;
}

#recommend-beatmap-link {
    width: 20%
}

#support-text:hover {
    cursor: pointer;
}

/*Class use in JS*/

.hidden {
    opacity: 0;
}

.show {
    opacity: 100%;
}

.rotate {
    rotation: 180deg;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}

.icon-menu {
    color: #ffb3d4;
}

form.form a {
    text-decoration: unset;
}

form.form a:hover {
    letter-spacing: 1px;
}

p.mono-font {
    font-family: 'JetBrains Mono', monospace;
}

.border {
    border: solid #4a4a4a!important;
}
