.hero-profile {
    height:30vh;
    min-height:400px;
    background-size: cover;
    margin:0!important;
    padding:12vh!important;
}

.fa-times {
    color: #842029;
}

.fa-check {
    color: #0f5132;
}