{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
  <meta name="msapplication-TileColor" content="#ff66aa">
  <meta name="theme-color" content="#ff66aa">

    <!-- HTML Meta Tags -->
    <title>{% trans "delete_account" %} - rūrusetto</title>
    <meta name="description" content="{% trans "delete_account_description" %}">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="{% url 'delete_account' %}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{% trans "delete_account" %} - rūrusetto">
    <meta property="og:description" content="{% trans "delete_account_description" %}">
    <meta property="og:image" content="{% static "img/685481.jpeg" %}">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="rūrusetto">
    <meta property="twitter:url" content="{% url 'delete_account' %}">
    <meta name="twitter:title" content="{% trans "delete_account" %} - rūrusetto">
    <meta name="twitter:description" content="{% trans "delete_account_description" %}">
    <meta name="twitter:image" content="{% static "img/685481.jpeg" %}">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/cebbc7821d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.typekit.net/cnm5kka.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" href="{% static 'css/hover.css' %}">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">

</head>
<body>
  <div class="container-fluid h-100">
    <div class="row justify-content-center h-100">
      <div class="col-sm-4 hidden-md-down position-relative">
        <div class="container position-absolute top-50 start-50 translate-middle col-8">
            <a href="{% url "home" %}"><img src="{% static "logo/rurusetto-logo-with-name.svg" %}"></a>
           <p></p>
            {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{ message.tags }}">
                <i class="fas fa-check"></i> {{ message }}
              </div>
            {% endfor %}
          {% endif %}
          <h1 class="text-danger">{% trans "delete_account" %} </h1>
          <p class="text-danger">{% trans "delete_account_confirmations" %} </p>
          <form method="POST">
              {% csrf_token %}
              {{ form|crispy }}
              <p></p>
              <button type="submit" class="btn btn-danger hvr-sweep-to-right-danger">{% trans "submit" %} </button>
          </form>
          <div style="line-height: 5">
            <p><a href="{% url 'settings' %}" class="text-decoration-none spacing-hover">{% trans "return_to_settings" %} </a></p>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8" style="background-image: url('{% static "img/685481.jpeg" %}')"></div>
    </div>
  </div>
</body>
</html>
