{% extends "wiki/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/profile.css' %}">

<div class="px-4 py-4 my-4 text-center align-middle hero-profile" style="background-image: linear-gradient(to bottom, transparent, #2d2d2d), url('{{ profile_object.cover.url }}');"></div>

<div class="container px-4 py-4 my-4 d-grid gap-4">
  <div class="row" style="margin-top: -11%; width: 1280px;">
    <div class="col col-2">
      <img src="{{ profile_object.image.url }}" alt="{{ profile_object.user.username }}" height="160" width="160" class="rounded-circle" >
    </div>
    <div class="col col-10" style="margin-left: -2%;">
      <h1>{{ profile_object.user.username }}</h1>
      <p><span class="badge rounded-pill bg-rurusetto">Beta Tester</span></p>
{#      <p class="text-muted">User ID : {{ profile_object.user.id }}</p>#}
      <p>{{ profile_object.about_me }}</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    {% if profile_object.location != '' %}
    <div class="col-sm-2">
        <i class="fas fa-map-marker-alt"></i> {{ profile_object.location }}
    </div>
    {% endif %}
    {% if profile_object.interests != '' %}
    <div class="col-sm-2">
        <i class="far fa-heart"></i> {{ profile_object.interests }}
    </div>
    {% endif %}
    {% if profile_object.occupation != '' %}
    <div class="col-sm-2">
        <i class="fas fa-suitcase"></i> {{ profile_object.occupation }}
    </div>
    {% endif %}
    {% if not profile_object.social_account %}
    <div class="col-sm-2">
    <i class="fas fa-envelope-square"></i> {{ profile_object.user.email }}
    </div>
    {% endif %}
    </div>
</div>

<div class="container">
    <div class="row">
        {% if profile_object.osu_username != '' %}
        <div class="col-sm-2 hvr-icon-bounce">
            <a class="text-decoration-none text-center spacing-hover-short" target="_blank" href="https://osu.ppy.sh/users/{{profile_object.osu_username}}"><img src="{% static 'logo/osu-logo-pink.png' %}" alt="osu! logo" width="20px" height="20px" class="icon-menu hvr-icon"> {{ profile_object.osu_username }}</a>
        </div>
        {% endif %}
        {% if profile_object.twitter != '' %}
        <div class="col-sm-2 hvr-icon-bounce">
            <a class="text-decoration-none text-center spacing-hover-short" target="_blank" href="https://twitter.com/{{profile_object.twitter}}"><i class="fab fa-twitter icon-menu hvr-icon"></i> @{{ profile_object.twitter }}</a>
        </div>
        {% endif %}
        {% if profile_object.discord != '' %}
        <div class="col-sm-2 hvr-icon-bounce discord-hover">
            <a class="text-decoration-none text-center spacing-hover-short" id="discord" onclick="copyToClipboard('{{ profile_object.discord }}')"><i class="fab fa-discord icon-menu hvr-icon"></i> {{ profile_object.discord }}</a>
        </div>
        {% endif %}
        {% if profile_object.website != '' %}
        <div class="col-sm-2 hvr-icon-bounce">
            <a class="text-decoration-none text-center spacing-hover-short" target="_blank" href="{{ profile_object.website }}"><i class="fas fa-link icon-menu hvr-icon"></i> {{ website_show }}</a>
        </div>
        {% endif %}
    </div>
</div>

    <div class="container">
        <div class="row">
             {% if user.id == profile_object.user.id %}
            <div class="col-sm-2 hvr-icon-bounce">
                <p><a class="text-decoration-none text-center spacing-hover-short" href="{% url "settings" %}"><i class="fas fa-user-edit icon-menu hvr-icon"></i> Edit Profile</a></p>
            </div>
            {% endif %}
        </div>
    </div>

<br>

{% endblock %}