{% extends "wiki/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="px-4 py-4 my-4 text-center align-middle hero"></div>

<div class="container px-4 py-4 my-4 d-grid gap-4">
  <div class="row profile-container" style="margin-top: -150px;">
    <div class="col col-2" id="profile-pic">
      <img data-aos="zoom-in" data-aos-duration="600" src="{{ profile_object.image.url }}" alt="{{ profile_object.user.username }}" width="100%" class="rounded-circle profile-page-pic">
    </div>
    <div class="col col-10" id="profile-detail">
      <h1 data-aos="fade-up" data-aos-duration="700">{{ profile_object.user.username }}</h1>
      <p data-aos="fade-up" data-aos-duration="750">
          {% for tag in tag_list %}
            <span class="badge rounded-pill" style='background-color:{{ tag.pills_color }}; color:{{ tag.font_color }};' data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ tag.description }}">{{ tag.name }}</span>
          {% endfor %}
      </p>
      <p data-aos="fade-up" data-aos-duration="800">{{ profile_object.about_me }}</p>
    </div>
  </div>
</div>

<div class="container" data-aos="fade-up" data-aos-duration="850">
  <div class="row">
    {% if profile_object.osu_username != '' %}
        <div class="col-sm-2 hvr-icon-bounce">
            <a class="text-decoration-none text-center spacing-hover-short" target="_blank" href="https://osu.ppy.sh/users/{{profile_object.osu_username}}"><img src="{% static 'logo/osu-logo-pink.png' %}" alt="osu! logo" width="20px" height="20px" class="icon-menu hvr-icon"> {{ profile_object.osu_username }}</a>
        </div>
    {% endif %}
    {% if profile_object.user.email != '' and not hide_email %}
    <div class="col-sm-2 profile-email">
    <i class="fas fa-envelope-square"></i> {{ profile_object.user.email }}
    </div>
    {% endif %}
    </div>
</div>

<div class="container" data-aos="fade-up" data-aos-duration="850">
    <div class="row">
         {% if user.id == profile_object.user.id %}
        <div class="col-sm-2 hvr-icon-bounce">
            <p><a class="text-decoration-none text-center spacing-hover-short" href="{% url "settings" %}"><i class="fas fa-user-edit icon-menu hvr-icon"></i> Edit Profile</a></p>
        </div>
        {% endif %}
    </div>
</div>

{% if created_ruleset %}
<div class="container">
    <div class="row-mb-3" data-aos="fade-up" data-aos-duration="700" data-aos-once="true">
        <h1>created rulesets <span class="badge rounded-pill bg-rurusetto round-font-bold ">{{ created_ruleset| length }}</span></h1>
    </div>
    <div class="row-mb-3">
        <div class="row text-center gy-4">
            {% for detail in created_ruleset %}
            <div class="col-lg-4" data-aos="fade-up" data-aos-duration="800" data-aos-once="true">

            {% if user.config.theme == 'light' %}
            <img src="{{ detail.0.light_icon.url }}" alt="{{ detail.0.name }}" width="140px" height="140px" class="rounded-circle">
            {% else %}
            <img src="{{ detail.0.icon.url }}" alt="{{ detail.0.name }}" width="140px" height="140px" class="rounded-circle">
            {% endif %}

            <h2 class="rulesets-name">{{ detail.0.name }}</h2>
            {% if detail.1 == None %}
                {% if detail.0.verified %}
                    <p class="text-muted"><img src="{% static 'img/default.png' %}" alt="Deleted User" width="32" height="32" class="rounded-circle hvr-icon"> Deleted User <i class="fas fa-check-circle verified-circle icon-menu hvr-icon"></i></p>
                {% else %}
                    <p class="text-muted"><img src="{% static 'img/default.png' %}" alt="Deleted User" width="32" height="32" class="rounded-circle hvr-icon"> Deleted User </p>
                {% endif %}
            {% else %}
                {% if detail.0.verified %}
                    <a href="{% url "profile" detail.1.id %}" class="hvr-picture-bounce text-decoration-none spacing-hover profile-link"><p class="text-muted"><img src="{{ detail.1.profile.image.url }}" alt="{{ detail.1.username }}" width="32" height="32" class="rounded-circle hvr-icon"> {{ detail.1.username }} <i class="fas fa-check-circle verified-circle icon-menu hvr-icon"></i></p></a>
                {% else %}
                    <a href="{% url "profile" detail.1.id %}" class="hvr-picture-bounce text-decoration-none spacing-hover profile-link"><p class="text-muted"><img src="{{ detail.1.profile.image.url }}" alt="{{ detail.1.username }}" width="32" height="32" class="rounded-circle hvr-icon"> {{ detail.1.username }} </p></a>
                {% endif %}
            {% endif %}
            <p class="rulesets-description">{{ detail.0.description }}</p>
            <p><a class="btn btn-secondary btn-rurusetto hvr-sweep-to-right" href="{% url "wiki" detail.0.slug %}">Read &raquo;</a></p>
        </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

<br>

{% endblock %}