{% extends "wiki/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/profile.css' %}">

<div class="px-4 py-4 my-4 text-center align-middle hero-profile"></div>

<div class="container px-4 py-4 my-4 d-grid gap-4">
  <div class="row" style="margin-top: -11%; width: 1280px;">
    <div class="col col-2">
      <img src="{{ profile_object.image.url }}" alt="{{ profile_object.user.username }}" height="160" width="160" class="rounded-circle" >
    </div>
    <div class="col col-10" style="margin-left: -2%;">
      <h1>{{ profile_object.user.username }}</h1>
      <p><span class="badge rounded-pill bg-rurusetto">Beta Tester</span></p>
{#      <p class="text-muted">User ID : {{ profile_object.user.id }}</p>#}
      <p>{{ profile_object.about_me }}</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    {% if profile_object.osu_username != '' %}
        <div class="col-sm-2 hvr-icon-bounce">
            <a class="text-decoration-none text-center spacing-hover-short" target="_blank" href="https://osu.ppy.sh/users/{{profile_object.osu_username}}"><img src="{% static 'logo/osu-logo-pink.png' %}" alt="osu! logo" width="20px" height="20px" class="icon-menu hvr-icon"> {{ profile_object.osu_username }}</a>
        </div>
    {% endif %}
    {% if profile_object.user.email != '' %}
    <div class="col-sm-2">
    <i class="fas fa-envelope-square"></i> {{ profile_object.user.email }}
    </div>
    {% endif %}
    </div>
</div>

    <div class="container">
        <div class="row">
             {% if user.id == profile_object.user.id %}
            <div class="col-sm-2 hvr-icon-bounce">
                <p><a class="text-decoration-none text-center spacing-hover-short" href="{% url "settings" %}"><i class="fas fa-user-edit icon-menu hvr-icon"></i> Edit Profile</a></p>
            </div>
            {% endif %}
        </div>
    </div>

{% if created_ruleset.len != 0 %}
<div class="container">
    <div class="row-mb-3">
        <h1>created rulesets <span class="badge rounded-pill bg-rurusetto round-font-bold ">{{ created_ruleset.len }}</span></h1>
    </div>
    <div class="row-mb-3">
        <div class="row text-center gy-4">
            {% for detail in created_ruleset %}
            <div class="col-lg-4">
            <img src="{{ detail.0.icon.url }}" alt="{{ detail.0.name }}" width="140px" height="140px" class="rounded-circle">

            <h2 class="rulesets-name">{{ detail.0.name }}</h2>
            {% if detail.1 == None %}
                {% if detail.0.verified %}
                    <p class="text-muted"><img src="{% static 'img/default.jpeg' %}" alt="Deleted User" width="32" height="32" class="rounded-circle hvr-icon"> Deleted User <i class="fas fa-check-circle verified-circle icon-menu hvr-icon"></i></p>
                {% else %}
                    <p class="text-muted"><img src="{% static 'img/default.jpeg' %}" alt="Deleted User" width="32" height="32" class="rounded-circle hvr-icon"> Deleted User </p>
                {% endif %}
            {% else %}
                {% if detail.0.verified %}
                    <a href="{% url "profile" detail.1.id %}" class="hvr-picture-bounce text-decoration-none spacing-hover"><p class="text-muted"><img src="{{ detail.1.profile.image.url }}" alt="{{ detail.1.username }}" width="32" height="32" class="rounded-circle hvr-icon"> {{ detail.1.username }} <i class="fas fa-check-circle verified-circle icon-menu hvr-icon"></i></p></a>
                {% else %}
                    <a href="{% url "profile" detail.1.id %}" class="hvr-picture-bounce text-decoration-none spacing-hover"><p class="text-muted"><img src="{{ detail.1.profile.image.url }}" alt="{{ detail.1.username }}" width="32" height="32" class="rounded-circle hvr-icon"> {{ detail.1.username }} </p></a>
                {% endif %}
            {% endif %}
            <p class="rulesets-description">{{ detail.0.description }}</p>
            <p><a class="btn btn-secondary btn-rurusetto hvr-sweep-to-right" href="{% url "wiki" detail.0.slug %}">Read &raquo;</a></p>
        </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

<br>

{% endblock %}

{% block css %}
    .hero-profile {
        background-image: linear-gradient(to bottom, transparent, #2d2d2d), url({{ hero_image }});
    }

    body.light .hero-profile {
        background-image: linear-gradient(to bottom, transparent, #fff), url({{ hero_image_light }});
    }

{% endblock %}