{% extends "wiki/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="px-4 py-4 my-4 align-middle hero">
    <div class="container align-middle">
        <div class="row">
            <p></p>
            <div><h1 class="display-5 fw-bold" data-aos="fade-up" data-aos-duration="600">Settings</h1></div>
            <p id="hero-description" data-aos="fade-up" data-aos-duration="700">All profile and website settings are here!</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
         {% if messages %}
            {% for message in messages %}
                {% if message.tags == "success"%}
                    <div class="alert alert-success">
                        <i class="fas fa-check"></i> {{ message }}
                    </div>
                {% endif %}
                {% if message.tags == "error"%}
                    <div class="alert alert-danger">
                        <i class="fas fa-times"></i> {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
          {% endif %}
    </div>
    <div class="row">
        <h1>Main Menu</h1>
    </div>
    <div class="row">
        <div class="col-sm-2 raleway-font">
            <p><a class="text-decoration-none text-center spacing-hover-short hvr-icon-bounce" href="#profile"><i class="fas fa-user icon-menu hvr-icon"></i> Profile</a></p>
        </div>
        <div class="col-sm-2 raleway-font">
            <p><a class="text-decoration-none text-center spacing-hover-short hvr-icon-bounce" href="#config"><i class="fas fa-cog icon-menu hvr-icon"></i> Configuration</a></p>
        </div>
        <div class="col-sm-2 raleway-font">
            <p><a class="text-decoration-none text-center spacing-hover-short hvr-icon-bounce" href="#account"><i class="fas fa-user-cog icon-menu hvr-icon"></i> Account</a></p>
        </div>
        {% if ruleset_creator %}
        <div class="col-sm-2 raleway-font">
            <p><a class="text-decoration-none text-center spacing-hover-short hvr-icon-bounce" href="#creator"><i class="fas fa-smile icon-menu hvr-icon"></i> Creator</a></p>
        </div>
        {% endif %}
    </div>
    <div class="row">
        <form class="form" method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <a id="profile"><h1>Profile</h1></a>
            {% if social_account %}
            <h2>Profile Sync</h2>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label form-label">Update profile every login session:</label>
                    <div class="col-sm-10">
                        <div class="form-check form-switch">
                            {{ profile_sync_form.update_profile_every_login }}
                        </div>
                        <p class="form-error raleway-font">{{ profile_sync_form.update_profile_every_login.errors }}</p>
                        <p class="text-muted raleway-font">If this checked, everytime time you login the system will update all of your profile to make it same as your osu! profile but your profile setting will be disabled.</p>
                    </div>
                  </div>
            </div>
            {% endif %}
            <h2>User Information</h2>
            {% if can_edit_profile %}
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label for="id_username" class="col-sm-2 col-form-label form-label">{{ user_form.username.label_tag }}</label>
                    <div class="col-sm-10">
                      <input name="username" class="form-control" required id="id_username" maxlength="15" value="{{ user_form.username.value }}">
                       <p class="form-error raleway-font">{{ user_form.username.errors }}</p>
                    </div>
                  </div>
            </div>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label for="id_email" class="col-sm-2 col-form-label form-label">Email:</label>
                    <div class="col-sm-10">
                      <input name="email" class="form-control" id="id_email" value="{{ user_form.email.value }}">
                       <p class="form-error raleway-font">{{ user_form.email.errors }}</p>
                    </div>
                  </div>
            </div>
            {% else %}
            <p class="raleway-font">The user information is handled by system. If you want to custom your profile, please remove the <i>Update Profile Every Login Session</i> setting.</p>
            {% endif %}
            <h2>Profile Page Detail</h2>
            {% if can_edit_profile %}
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label for="id_image" class="col-sm-2 col-form-label form-label">Profile picture:</label>
                    <div class="col-sm-10">
                      <div class="raleway-font form-current">Current Profile : <a href="{{ profile_form.image.value.url }}">{{ profile_form.image.value }}</a></div>
                      <input type="file" name="image" accept="image/*" id="id_image" class="form-control">
                        <p class="form-error raleway-font">{{ profile_form.image.errors }}</p>
                    </div>
                  </div>
            </div>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label for="id_cover" class="col-sm-2 col-form-label form-label">Profile page cover image:</label>
                    <div class="col-sm-10">
                      <div class="raleway-font form-current">Current Cover : <a href="{{ profile_form.cover.value.url }}">{{ profile_form.cover.value }}</a></div>
                      <input type="file" name="cover" accept="image/*" id="id_cover" class="form-control">
                        <p class="form-error raleway-font">{{ profile_form.cover.errors }}</p>
                    </div>
                  </div>
            </div>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label for="id_about_me" class="col-sm-2 col-form-label form-label">About Me:</label>
                    <div class="col-sm-10">
                        <textarea name="about_me" cols="40" rows="10" class="form-control" id="id_about_me" maxlength="120">{{ profile_form.about_me.value }}</textarea>
                        <p class="form-error raleway-font">{{ profile_form.about_me.errors }}</p>
                    </div>
                  </div>
            </div>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label for="id_osu_username" class="col-sm-2 col-form-label form-label">osu! username:</label>
                    <div class="col-sm-10">
                        <input name="osu_username" class="form-control" id="id_osu_username" maxlength="20" value="{{ profile_form.osu_username.value }}">
                        <p class="form-error raleway-font">{{ profile_form.osu_username.errors }}</p>
                    </div>
                  </div>
            </div>
            {% else %}
            <p class="raleway-font">The profile page detail is handled by system. If you want to custom your profile, please remove the <i>Update Profile Every Login Session</i> setting.</p>
            {% endif %}
            <h2>Profile Page Display Settings</h2>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label form-label">Hide Email:</label>
                    <div class="col-sm-10">
                        <div class="form-check form-switch">
                            {{ hide_email.hide_email }}
                        </div>
                        <p class="form-error raleway-font">{{ hide_email.hide_email.errors }}</p>
                        <p class="text-muted raleway-font">If this checked, your email will not be show on your profile page.</p>
                    </div>
                  </div>
            </div>

            <h1 id="config">Website Configuration</h1>
            <h2>Website Theme</h2>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label for="id_theme" class="col-sm-2 col-form-label form-label">Appearance:</label>
                    <div class="col-sm-10 raleway-font">
                        {{ website_config_form | crispy }}
                        <p class="form-error raleway-font">{{ website_config_form.theme.errors }}</p>
                    </div>
                  </div>
            </div>
            <h2>Wiki Page Display</h2>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label for="id_subpage_index" class="col-sm-2 col-form-label form-label">Subpage Index:</label>
                    <div class="col-sm-10 raleway-font">
                        {{ website_subpage_config_form | crispy }}
                        <p class="form-error raleway-font">{{ website_config_form.theme.errors }}</p>
                        <p class="text-muted raleway-font">Setting of the appearance on the subpage menu at the top of the rulesets page.</p>
                    </div>
                  </div>
            </div>

            {% if ruleset_creator %}
            <h1 id="creator">Rulesets Creator Settings</h1>
            <p>This settings are only appear when you are a one of the rulesets creator in the wiki.</p>
            <h2>Support</h2>
            <p>This is the setting of the detail in the <code>Support the creator</code> modal so other player who love your ruleset can support you. If you don't want to use this function please leave all fields as blank.</p>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label for="id_support_message" class="col-sm-2 col-form-label form-label">Support Message:</label>
                    <div class="col-sm-10">
                        <textarea name="support_message" cols="40" rows="10" class="form-control" id="id_support_message">{{ support_form.support_message.value }}</textarea>
                        <p class="form-error raleway-font">{{ support_form.support_message.errors }}</p>
                        <p class="text-muted raleway-font">Your message to the visitor.</p>
                    </div>
                  </div>
            </div>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label form-label" for="id_support_patreon">Patreon Link:</label>
                    <div class="col-sm-10">
                      <input type="url" name="support_patreon" id="id_support_patreon" class="form-control" value="{{ support_form.support_patreon.value }}">
                        <p class="form-error raleway-font">{{ support_form.support_patreon.errors }}</p>
                        <p class="text-muted raleway-font">Link to your Patreon page. (If you don't have this donation way just leave it blank.)</p>
                    </div>
                  </div>
            </div>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label form-label" for="id_support_kofi">Ko-fi Link:</label>
                    <div class="col-sm-10">
                      <input type="url" name="support_kofi" id="id_support_kofi" class="form-control" value="{{ support_form.support_kofi.value }}">
                        <p class="form-error raleway-font">{{ form.source.errors }}</p>
                        <p class="text-muted raleway-font">Link to your Ko-fi page so user can buy you some coffee! (If you don't have this donation way just leave it blank.)</p>
                    </div>
                  </div>
            </div>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label form-label" for="id_support_github_sponsors">GitHub Sponsors Link:</label>
                    <div class="col-sm-10">
                      <input type="url" name="support_github_sponsors" id="id_support_github_sponsors" class="form-control" value="{{ support_form.support_github_sponsors.value }}">
                        <p class="form-error raleway-font">{{ support_form.support_github_sponsors.errors }}</p>
                        <p class="text-muted raleway-font">Link to your GitHub Sponsors page. (If you don't have this donation way just leave it blank.)</p>
                    </div>
                  </div>
            </div>
            {% endif %}

{#            <a id="website"><h1>Website Settings</h1></a>#}
            <button type="submit" class="btn btn-rurusetto hvr-sweep-to-right raleway-font">Submit</button>
        </form>
    </div>
</div>

    <p></p>

<div class="container">
    <a id="account"><h1>Account</h1></a>
    <h2>Account Connection</h2>
    <p class="raleway-font">You can connect your account with your osu! account so you can login by using your osu! account instead of username and password.</p>

    {% if social_account %}

        <p class="raleway-font" style="color:#ff66aa"><i class="fas fa-check icon-menu"></i> This account is connected to osu! account username : {{ osu_confirm_username }}</p>

    {% else %}

        <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="connect" %}
        </ul>

        {% include "socialaccount/snippets/login_extra.html" %}

    {% endif %}
    <h2 class="text-danger">Delete Account</h2>
    <p><a class="btn btn-danger hvr-sweep-to-right-danger raleway-font" href="{% url "delete_account" %}">Delete Account Process</a></p>

</div>

    <p></p>

<br>
{% endblock content %}