{% extends "wiki/base-form.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="px-4 py-4 my-4 align-middle hero" style="background-image: linear-gradient(to bottom, transparent, #2d2d2d), url('{% static "img/737403.png" %}');">
    <div class="container align-middle">
        <div class="row">
            <p></p>
            <div><h1 class="display-5 fw-bold">Settings</h1></div>
            <p class="text-white" id="hero-description">All profile and website settings are here!</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
         {% if messages %}
            {% for message in messages %}
                {% if message.tags == "success"%}
                    <div class="alert alert-success">
                        <i class="fas fa-check"></i> {{ message }}
                    </div>
                {% endif %}
                {% if message.tags == "error"%}
                    <div class="alert alert-danger">
                        <i class="fas fa-times"></i> {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
          {% endif %}
    </div>
    <div class="row">
        <h1>Main Menu</h1>
    </div>
    <div class="row">
        <div class="col-sm-2 hvr-icon-bounce raleway-font">
            <p><a class="text-decoration-none text-center spacing-hover-short" href="#profile"><i class="fas fa-user icon-menu hvr-icon"></i> Profile</a></p>
        </div>
        <div class="col-sm-2 hvr-icon-bounce raleway-font">
            <p><a class="text-decoration-none text-center spacing-hover-short" href="#account"><i class="fas fa-user-cog icon-menu hvr-icon"></i> Account</a></p>
        </div>
    </div>
    <div class="row">
        <form class="form" method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <a id="profile"><h1>Profile</h1></a>
            {% if social_account %}
            <h2>Profile Sync</h2>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label text-white">Update profile every login session:</label>
                    <div class="col-sm-10">
                        <div class="form-check form-switch">
                            {{ profile_sync_form.update_profile_every_login }}
                        </div>
                        <p class="text-white raleway-font">{{ profile_sync_form.update_profile_every_login.errors }}</p>
                        <p class="text-muted raleway-font">If this checked, everytime time you login the system will update all of your profile to make it same as your osu! profile but your profile setting will be disabled.</p>
                    </div>
                  </div>
            </div>
            {% endif %}
            <h2>User Information</h2>
            {% if can_edit_profile %}
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label text-white">{{ user_form.username.label_tag }}</label>
                    <div class="col-sm-10">
                      <input name="username" class="form-control" required id="id_username" maxlength="15" value="{{ user_form.username.value }}">
                       <p class="text-white raleway-font">{{ user_form.username.errors }}</p>
                    </div>
                  </div>
            </div>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label text-white">Email:</label>
                    <div class="col-sm-10">
                      <input name="email" class="form-control" id="id_email" value="{{ user_form.email.value }}">
                       <p class="text-white raleway-font">{{ user_form.email.errors }}</p>
                    </div>
                  </div>
            </div>
            {% else %}
            <p class="text-white raleway-font">The user information is handled by system. If you want to custom your profile, please remove the <i>Update Profile Every Login Session</i> setting.</p>
            {% endif %}
            <h2>Profile Page Detail</h2>
            {% if can_edit_profile %}
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label text-white">Profile picture:</label>
                    <div class="col-sm-10">
                      <div class="text-white raleway-font">Current Profile : <a href="{{ profile_form.image.value.url }}">{{ profile_form.image.value }}</a></div>
                      <input type="file" name="image" accept="image/*" id="id_image" class="form-control">
                        <p class="text-white raleway-font">{{ profile_form.image.errors }}</p>
                    </div>
                  </div>
            </div>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label text-white">Profile page cover image:</label>
                    <div class="col-sm-10">
                      <div class="text-white raleway-font">Current Cover : <a href="{{ profile_form.cover.value.url }}">{{ profile_form.cover.value }}</a></div>
                      <input type="file" name="cover" accept="image/*" id="id_cover" class="form-control">
                        <p class="text-white raleway-font">{{ profile_form.cover.errors }}</p>
                    </div>
                  </div>
            </div>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label text-white">About Me:</label>
                    <div class="col-sm-10">
                        <textarea name="about_me" cols="40" rows="10" class="form-control" id="id_about_me" maxlength="120">{{ profile_form.about_me.value }}</textarea>
                        <p class="text-white raleway-font">{{ profile_form.about_me.errors }}</p>
                    </div>
                  </div>
            </div>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label text-white">osu! username:</label>
                    <div class="col-sm-10">
                        <input name="osu_username" class="form-control" id="id_osu_username" maxlength="20" value="{{ profile_form.osu_username.value }}">
                        <p class="text-white raleway-font">{{ profile_form.osu_username.errors }}</p>
                    </div>
                  </div>
            </div>
            {% else %}
            <p class="text-white raleway-font">The profile page detail is handled by system. If you want to custom your profile, please remove the <i>Update Profile Every Login Session</i> setting.</p>
            {% endif %}

{#            <a id="website"><h1>Website Settings</h1></a>#}
            <button type="submit" class="btn btn-rurusetto hvr-sweep-to-right raleway-font">Submit</button>
        </form>
    </div>
</div>

    <p></p>

<div class="container">
    <a id="account"><h1>Account</h1></a>
    <h2>Account Connection</h2>
    <p class="text-white raleway-font">You can connect your account with your osu! account so you can login by using your osu! account instead of username and password.</p>

    {% if social_account %}

        <p class="raleway-font" style="color:#ff66aa"><i class="fas fa-check icon-menu"></i> This account is connected to osu! account username : {{ osu_confirm_username }}</p>

    {% else %}

        <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="connect" %}
        </ul>

        {% include "socialaccount/snippets/login_extra.html" %}

    {% endif %}
    <h3 class="text-danger">Delete Account</h3>
    <button type="button" class="btn btn-danger hvr-sweep-to-right-danger raleway-font" data-bs-toggle="modal" data-bs-target="#deleteAccountBackdrop">Delete Account</button>

</div>

<div class="modal fade" id="deleteAccountBackdrop" tabindex="-1" aria-labelledby="deleteAccountBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger" id="exampleModalLabel">Delete Account</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-danger raleway-font">
          Are you sure you want to delete account? All of your info will be delete. This is the action that cannot undo!
        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
            <div class="form-check">
            {{ account_delete_form.delete }} Delete Confirmation
            </div>
          <button class="btn btn-secondary btn-danger hvr-sweep-to-right-danger" type="submit">Confirm</button>
        </form>
            </div>
        </div>
      </div>
    </div>

    <p></p>

<br>
{% endblock content %}