{% extends "wiki/base-form.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="px-4 py-4 my-4 align-middle hero" style="background-image: linear-gradient(to bottom, transparent, #2d2d2d), url('{% static "img/737403.png" %}');">
    <div class="container align-middle">
        <div class="row">
            <p></p>
            <div><h1 class="display-5 fw-bold">Settings</h1></div>
            <p class="text-white" id="hero-description">All profile and website settings are here!</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
         {% if messages %}
            {% for message in messages %}
                {% if message.tags == "success"%}
                    <div class="alert alert-success">
                        <i class="fas fa-check"></i> {{ message }}
                    </div>
                {% endif %}
                {% if message.tags == "error"%}
                    <div class="alert alert-danger">
                        <i class="fas fa-times"></i> {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
          {% endif %}
    </div>
    <div class="row">
        <h1>Main Menu</h1>
    </div>
    <div class="row">
        <div class="col-sm-2 hvr-icon-bounce raleway-font">
            <p><a class="text-decoration-none text-center spacing-hover-short" href="#profile"><i class="fas fa-user icon-menu hvr-icon"></i> Profile</a></p>
        </div>
    </div>
    <div class="row">
        <form class="form" method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <a id="profile"><h1>Profile</h1></a>
            {% if user.profile.social_account %}
            <h2>Profile Sync</h2>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label text-white">Update profile every login session:</label>
                    <div class="col-sm-10">
                        <div class="form-check form-switch">
                            {{ profile_sync_form.update_profile_every_login }}
                        </div>
                        <p class="text-white raleway-font">{{ profile_sync_form.update_profile_every_login.errors }}</p>
                        <p class="text-muted raleway-font">If this checked, everytime time you login the system will update all of your profile to make it same as your osu! profile but your profile setting will be disabled.</p>
                    </div>
                  </div>
            </div>
            {% endif %}
            <h2>User Information</h2>
            {% if can_edit_profile %}
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label text-white">{{ user_form.username.label_tag }}</label>
                    <div class="col-sm-10">
                      <input name="username" class="form-control" required id="id_username" maxlength="15" value="{{ user_form.username.value }}">
                       <p class="text-white raleway-font">{{ user_form.username.errors }}</p>
                    </div>
                  </div>
            </div>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label text-white">Email:</label>
                    <div class="col-sm-10">
                      <input name="email" class="form-control" id="id_email" value="{{ user_form.email.value }}">
                       <p class="text-white raleway-font">{{ user_form.email.errors }}</p>
                    </div>
                  </div>
            </div>
            {% else %}
            <p class="text-white raleway-font">The user information is handled by system. If you want to custom your profile, please remove the <i>Update Profile Every Login Session</i> setting.</p>
            {% endif %}
            <h2>Profile Page Detail</h2>
            {% if can_edit_profile %}
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label text-white">Profile picture:</label>
                    <div class="col-sm-10">
                      <div class="text-white raleway-font">Current Profile : <a href="{{ profile_form.image.value.url }}">{{ profile_form.image.value }}</a></div>
                      <input type="file" name="image" accept="image/*" id="id_image" class="form-control">
                        <p class="text-white raleway-font">{{ profile_form.image.errors }}</p>
                    </div>
                  </div>
            </div>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label text-white">Profile page cover image:</label>
                    <div class="col-sm-10">
                      <div class="text-white raleway-font">Current Cover : <a href="{{ profile_form.cover.value.url }}">{{ profile_form.cover.value }}</a></div>
                      <input type="file" name="cover" accept="image/*" id="id_cover" class="form-control">
                        <p class="text-white raleway-font">{{ profile_form.cover.errors }}</p>
                    </div>
                  </div>
            </div>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label text-white">About Me:</label>
                    <div class="col-sm-10">
                        <textarea name="about_me" cols="40" rows="10" class="form-control" id="id_about_me" maxlength="120">{{ profile_form.about_me.value }}</textarea>
                        <p class="text-white raleway-font">{{ profile_form.about_me.errors }}</p>
                    </div>
                  </div>
            </div>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label text-white">osu! username:</label>
                    <div class="col-sm-10">
                        <input name="osu_username" class="form-control" id="id_osu_username" maxlength="20" value="{{ profile_form.osu_username.value }}">
                        <p class="text-white raleway-font">{{ profile_form.osu_username.errors }}</p>
                    </div>
                  </div>
            </div>
            {% else %}
            <p class="text-white raleway-font">The profile page detail is handled by system. If you want to custom your profile, please remove the <i>Update Profile Every Login Session</i> setting.</p>
            {% endif %}

{#            <a id="website"><h1>Website Settings</h1></a>#}
            <button type="submit" class="btn btn-rurusetto hvr-sweep-to-right raleway-font">Submit</button>
        </form>
    </div>
</div>

    <p></p>

<br>
{% endblock content %}