{% load convert_star_rating %}
{% load i18n %}
{% load static %}

<div class="col-sm-6" data-aos="fade-up" data-aos-duration="600" data-aos-once="true">
    <div class="card mb-3" style="max-width: 100%">
      <div class="row g-0 rounded" style="background-image: url({{ beatmap.0.beatmap_cover.url }}); background-size: cover; background-position: center">
        <div class="col-md-4 position-relative" style="min-height: 200px; background-image: url({{ beatmap.0.beatmap_list.url }}); background-size: cover; background-position: center;">
            <div class="mediPlayer position-absolute top-50 start-50 translate-middle">
                <audio class="listen" preload="none" data-size="80" src="//b.ppy.sh/preview/{{ beatmap.0.beatmapset_id }}.mp3"></audio>
            </div>
        </div>
        <div class="col-md-8" style="line-height: 0.3; background-image: url({{ beatmap.0.beatmap_card.url }}); background-size: cover; background-position: 50%">
          <div class="card-body beatmap-card rounded-start">
            <a href="{{ beatmap.0.url }}" class="text-decoration-none"><h4 class="card-title spacing-hover-short beatmap-title">{{ beatmap.0.title }}</h4></a>
            <p class="card-text beatmap-artist">{% trans "by" %} {{ beatmap.0.artist }}</p>
            {% if beatmap.0.source != "" %}
            <p class="card-text text-muted beatmap-source">{{ beatmap.0.source }}</p>
            {% else %}
            <p>&zwnj;</p>
            {% endif %}

            {% if beatmap.0.approved == "4" %}
                <span class="badge rounded-pill round-font-bold" style="background-color: rgb(241, 101, 160); color: rgb(51, 58, 61); margin-top: -2px">{% trans 'loved' %}</span>
            {% elif beatmap.0.approved == "3" %}
                <span class="badge rounded-pill round-font-bold" style="background-color: rgb(106, 196, 254); color: rgb(51, 58, 61); margin-top: -2px">{% trans 'qualified' %}</span>
            {% elif beatmap.0.approved == "2" %}
                <span class="badge rounded-pill round-font-bold" style="background-color: rgb(210, 208, 85); color: rgb(51, 58, 61); margin-top: -2px">{% trans 'approved' %}</span>
            {% elif beatmap.0.approved == "1" %}
                <span class="badge rounded-pill round-font-bold" style="background-color: rgb(185, 251, 98); color: rgb(51, 58, 61); margin-top: -2px">{% trans 'ranked' %}</span>
            {% elif beatmap.0.approved == "0" %}
                <span class="badge rounded-pill round-font-bold" style="background-color: rgb(252, 212, 96); color: rgb(51, 58, 61); margin-top: -2px">{% trans 'pending' %}</span>
            {% elif beatmap.0.approved == "-1" %}
                <span class="badge rounded-pill round-font-bold" style="background-color: rgb(245, 146, 93); color: rgb(51, 58, 61); margin-top: -2px">{% trans 'wip' %}</span>
            {% elif beatmap.0.approved == "-2" %}
                <span class="badge rounded-pill round-font-bold" style="background-color: rgb(0, 0, 0); color: rgb(83, 94, 101); margin-top: -2px">{% trans 'graveyard' %}</span>
            {% endif %}

            </p>
              <p class="card-text text-muted" style="margin-top: -5px"><small>{% trans 'mapped_by' %} <a href="https://osu.ppy.sh/u/{{ beatmap.0.creator }}" class="text-decoration-none spacing-hover-short">{{ beatmap.0.creator }}</a></small></p>
              <p class="card-text beatmap-comment" style="margin-top: -5px"><small>{{ beatmap.0.comment }}</small></p>
          {% if beatmap.1 == None %}
              <p class="card-text text-muted" style="margin-top: -10px"><small>{% trans 'recommend_by' %} <img src="{% static 'img/default.png' %}" alt="{% trans 'deleted_user' %}" width="32" height="32" class="rounded-circle hvr-icon"> {% trans 'deleted_user' %}</small></p>
          {% else %}
              <p class="card-text text-muted" style="margin-top: -10px"><small>{% trans 'recommend_by' %} <a href="{% url "profile" beatmap.1.id %}" class="hvr-picture-bounce text-decoration-none spacing-hover"><img src="{{ beatmap.1.profile.image.url }}" alt="{{ beatmap.1.username }}" width="32" height="32" class="rounded-circle hvr-icon" style="transition: 0.2s"> {{ beatmap.1.username }}</a></small></p>
          {% endif %}
          <p class="card-text"><button type="button" class="btn btn-rurusetto btn-sm hvr-bounce-to-bottom" data-bs-toggle="modal" data-bs-target="#modal{{ beatmap.0.beatmap_id }}" style="margin-top: -10px"><i class="fas fa-info-circle color-white"></i> Beatmap Detail</button></p>
            <p class="card-text"><a class="btn btn-success btn-sm" href="{% url 'approve_recommend_beatmap' ruleset.slug beatmap.0.id %}" role="button" style="margin-top: -10px"><i class="fas fa-check color-white"></i> {% trans 'approve' %}</a> <a class="btn btn-danger btn-sm" href="{% url 'deny_recommend_beatmap' ruleset.slug beatmap.0.id %}" role="button" style="margin-top: -10px"><i class="fas fa-times color-white"></i> {% trans 'deny' %}</a></p>
          </div>
        </div>
      </div>
    </div>
</div>

{% include "wiki/snippets/beatmap_info_modal.html" %}
