{% load convert_star_rating %}

<div class="col-sm-6" data-aos="fade-up" data-aos-duration="600" data-aos-once="true">
    <div class="card mb-3" style="max-width: 100%">
      <div class="row g-0 rounded" style="background-image: url({{ beatmap.0.beatmap_cover.url }}); background-size: cover; background-position: center">
        <div class="col-md-4">
        </div>
        <div class="col-md-8 beatmap-card rounded-start" style="line-height: 0.9;">
          <div class="card-body">
            <a href="{{ beatmap.0.url }}" class="text-decoration-none"><h4 class="card-title spacing-hover-short beatmap-title">{{ beatmap.0.title }}</h4></a>
            <p class="card-text">by {{ beatmap.0.artist }}</p>
            <p class="card-text text-muted">{{ beatmap.0.source }}</p>
            <p class="card-text">
              {% if beatmap.0.difficultyrating <= 1.5 %}
              <span class="badge rounded-pill round-font-bold" style="background-color: rgb(65, 184, 255); color: rgb(51, 58, 61);"><i class="fas fa-star"></i> {{ beatmap.0.difficultyrating | convert_star_rating }}</span>
              {% elif beatmap.0.difficultyrating > 1.5 and beatmap.0.difficultyrating <= 2.0 %}
              <span class="badge rounded-pill round-font-bold" style="background-color: rgb(65, 215, 235); color: rgb(51, 58, 61);"><i class="fas fa-star"></i> {{ beatmap.0.difficultyrating | convert_star_rating }}</span>
              {% elif beatmap.0.difficultyrating > 2.0 and beatmap.0.difficultyrating <= 2.25 %}
              <span class="badge rounded-pill round-font-bold" style="background-color: rgb(77, 252, 186); color: rgb(51, 58, 61);"><i class="fas fa-star"></i> {{ beatmap.0.difficultyrating | convert_star_rating }}</span>
              {% elif beatmap.0.difficultyrating > 2.25 and beatmap.0.difficultyrating <= 2.50 %}
              <span class="badge rounded-pill round-font-bold" style="background-color: rgb(123, 251, 70); color: rgb(51, 58, 61);"><i class="fas fa-star"></i> {{ beatmap.0.difficultyrating | convert_star_rating }}</span>
              {% elif beatmap.0.difficultyrating > 2.50 and beatmap.0.difficultyrating <= 2.75 %}
              <span class="badge rounded-pill round-font-bold" style="background-color: rgb(160, 246, 73); color: rgb(51, 58, 61);"><i class="fas fa-star"></i> {{ beatmap.0.difficultyrating | convert_star_rating }}</span>
              {% elif beatmap.0.difficultyrating > 2.75 and beatmap.0.difficultyrating <= 3.0 %}
              <span class="badge rounded-pill round-font-bold" style="background-color: rgb(197, 242, 80); color: rgb(51, 58, 61);"><i class="fas fa-star"></i> {{ beatmap.0.difficultyrating | convert_star_rating }}</span>
              {% elif beatmap.0.difficultyrating > 3.0 and beatmap.0.difficultyrating <= 3.25 %}
              <span class="badge rounded-pill round-font-bold" style="background-color: rgb(241, 236, 83); color: rgb(51, 58, 61);"><i class="fas fa-star"></i> {{ beatmap.0.difficultyrating | convert_star_rating }}</span>
              {% elif beatmap.0.difficultyrating > 3.25 and beatmap.0.difficultyrating <= 3.50 %}
              <span class="badge rounded-pill round-font-bold" style="background-color: rgb(248, 211, 84); color: rgb(51, 58, 61);"><i class="fas fa-star"></i> {{ beatmap.0.difficultyrating | convert_star_rating }}</span>
              {% elif beatmap.0.difficultyrating > 3.50 and beatmap.0.difficultyrating <= 3.75 %}
              <span class="badge rounded-pill round-font-bold" style="background-color: rgb(248, 187, 87); color: rgb(51, 58, 61);"><i class="fas fa-star"></i> {{ beatmap.0.difficultyrating | convert_star_rating }}</span>
              {% elif beatmap.0.difficultyrating > 3.75 and beatmap.0.difficultyrating <= 4.0 %}
              <span class="badge rounded-pill round-font-bold" style="background-color: rgb(254, 161, 90); color: rgb(51, 58, 61);"><i class="fas fa-star"></i> {{ beatmap.0.difficultyrating | convert_star_rating }}</span>
              {% elif beatmap.0.difficultyrating > 4.0 and beatmap.0.difficultyrating <= 4.25 %}
              <span class="badge rounded-pill round-font-bold" style="background-color: rgb(255, 138, 92); color: rgb(51, 58, 61);"><i class="fas fa-star"></i> {{ beatmap.0.difficultyrating | convert_star_rating }}</span>
              {% elif beatmap.0.difficultyrating > 4.25 and beatmap.0.difficultyrating <= 4.5 %}
              <span class="badge rounded-pill round-font-bold" style="background-color: rgb(255, 117, 90); color: rgb(51, 58, 61);"><i class="fas fa-star"></i> {{ beatmap.0.difficultyrating | convert_star_rating }}</span>
              {% elif beatmap.0.difficultyrating > 4.5 and beatmap.0.difficultyrating <= 4.75 %}
              <span class="badge rounded-pill round-font-bold" style="background-color: rgb(255, 103, 97); color: rgb(51, 58, 61);"><i class="fas fa-star"></i> {{ beatmap.0.difficultyrating | convert_star_rating }}</span>
              {% elif beatmap.0.difficultyrating > 4.75 and beatmap.0.difficultyrating <= 5 %}
              <span class="badge rounded-pill round-font-bold" style="background-color: rgb(255, 95, 95); color: rgb(51, 58, 61);"><i class="fas fa-star"></i> {{ beatmap.0.difficultyrating | convert_star_rating }}</span>
              {% elif beatmap.0.difficultyrating > 5 and beatmap.0.difficultyrating <= 5.25 %}
              <span class="badge rounded-pill round-font-bold" style="background-color: rgb(255, 83, 102); color: rgb(51, 58, 61);"><i class="fas fa-star"></i> {{ beatmap.0.difficultyrating | convert_star_rating }}</span>
              {% elif beatmap.0.difficultyrating > 5.25 and beatmap.0.difficultyrating <= 5.5 %}
              <span class="badge rounded-pill round-font-bold" style="background-color: rgb(255, 72, 102); color: rgb(51, 58, 61);"><i class="fas fa-star"></i> {{ beatmap.0.difficultyrating | convert_star_rating }}</span>
              {% elif beatmap.0.difficultyrating > 5.5 and beatmap.0.difficultyrating <= 5.75 %}
              <span class="badge rounded-pill round-font-bold" style="background-color: rgb(255, 62, 101); color: rgb(51, 58, 61);"><i class="fas fa-star"></i> {{ beatmap.0.difficultyrating | convert_star_rating }}</span>
              {% elif beatmap.0.difficultyrating > 5.75 and beatmap.0.difficultyrating <= 6 %}
              <span class="badge rounded-pill round-font-bold" style="background-color: rgb(253, 54, 103); color: rgb(51, 58, 61);"><i class="fas fa-star"></i> {{ beatmap.0.difficultyrating | convert_star_rating }}</span>
              {% elif beatmap.0.difficultyrating > 6 and beatmap.0.difficultyrating <= 6.25 %}
              <span class="badge rounded-pill round-font-bold" style="background-color: rgb(209, 64, 132); color: rgb(51, 58, 61);"><i class="fas fa-star"></i> {{ beatmap.0.difficultyrating | convert_star_rating }}</span>
              {% elif beatmap.0.difficultyrating > 6.25 and beatmap.0.difficultyrating <= 6.49 %}
              <span class="badge rounded-pill round-font-bold" style="background-color: rgb(166, 73, 157); color: rgb(51, 58, 61);"><i class="fas fa-star"></i> {{ beatmap.0.difficultyrating | convert_star_rating }}</span>
              {% elif beatmap.0.difficultyrating > 6.49 and beatmap.0.difficultyrating <= 6.5 %}
              <span class="badge rounded-pill round-font-bold" style="background-color: rgb(166, 73, 157); color: rgb(255, 215, 93);"><i class="fas fa-star"></i> {{ beatmap.0.difficultyrating | convert_star_rating }}</span>
              {% elif beatmap.0.difficultyrating > 6.5 and beatmap.0.difficultyrating <= 6.75 %}
              <span class="badge rounded-pill round-font-bold" style="background-color: rgb(122, 83, 192); color: rgb(255, 215, 93);"><i class="fas fa-star"></i> {{ beatmap.0.difficultyrating | convert_star_rating }}</span>
              {% elif beatmap.0.difficultyrating > 6.75 and beatmap.0.difficultyrating <= 7 %}
              <span class="badge rounded-pill round-font-bold" style="background-color: rgb(87, 92, 213); color: rgb(255, 215, 93);"><i class="fas fa-star"></i> {{ beatmap.0.difficultyrating | convert_star_rating }}</span>
              {% elif beatmap.0.difficultyrating > 7 and beatmap.0.difficultyrating <= 7.25 %}
              <span class="badge rounded-pill round-font-bold" style="background-color: rgb(66, 73, 190); color: rgb(255, 215, 93);"><i class="fas fa-star"></i> {{ beatmap.0.difficultyrating | convert_star_rating }}</span>
              {% elif beatmap.0.difficultyrating > 7.25 and beatmap.0.difficultyrating <= 7.5 %}
              <span class="badge rounded-pill round-font-bold" style="background-color: rgb(50, 55, 168); color: rgb(255, 215, 93);"><i class="fas fa-star"></i> {{ beatmap.0.difficultyrating | convert_star_rating }}</span>
              {% elif beatmap.0.difficultyrating > 7.5 and beatmap.0.difficultyrating <= 7.75 %}
              <span class="badge rounded-pill round-font-bold" style="background-color: rgb(36, 39, 150); color: rgb(255, 215, 93);"><i class="fas fa-star"></i> {{ beatmap.0.difficultyrating | convert_star_rating }}</span>
              {% elif beatmap.0.difficultyrating > 7.75 and beatmap.0.difficultyrating <= 7.99 %}
              <span class="badge rounded-pill round-font-bold" style="background-color: rgb(22, 25, 144); color: rgb(255, 215, 93);"><i class="fas fa-star"></i> {{ beatmap.0.difficultyrating | convert_star_rating }}</span>
              {% else %}
              <span class="badge rounded-pill round-font-bold" style="background-color: rgb(0, 0, 0); color: rgb(255, 215, 93);"><i class="fas fa-star"></i> {{ beatmap.0.difficultyrating | convert_star_rating }}</span>
              {% endif %}

            {% if beatmap.0.approved == "4" %}
                <span class="badge rounded-pill round-font-bold" style="background-color: rgb(241, 101, 160); color: rgb(51, 58, 61);">LOVED</span>
            {% elif beatmap.0.approved == "3" %}
                <span class="badge rounded-pill round-font-bold" style="background-color: rgb(106, 196, 254); color: rgb(51, 58, 61);">QUALIFIED</span>
            {% elif beatmap.0.approved == "2" %}
                <span class="badge rounded-pill round-font-bold" style="background-color: rgb(210, 208, 85); color: rgb(51, 58, 61);">APPROVED</span>
            {% elif beatmap.0.approved == "1" %}
                <span class="badge rounded-pill round-font-bold" style="background-color: rgb(185, 251, 98); color: rgb(51, 58, 61);">RANKED</span>
            {% elif beatmap.0.approved == "0" %}
                <span class="badge rounded-pill round-font-bold" style="background-color: rgb(252, 212, 96); color: rgb(51, 58, 61);">PENDING</span>
            {% elif beatmap.0.approved == "-1" %}
                <span class="badge rounded-pill round-font-bold" style="background-color: rgb(245, 146, 93); color: rgb(51, 58, 61);">WIP</span>
            {% elif beatmap.0.approved == "-2" %}
                <span class="badge rounded-pill round-font-bold" style="background-color: rgb(0, 0, 0); color: rgb(83, 94, 101);">GRAVEYARD</span>
            {% endif %}

            </p>
              <p class="card-text text-muted"><small>mapped by <a href="https://osu.ppy.sh/u/{{ beatmap.0.creator }}" class="text-decoration-none spacing-hover-short">{{ beatmap.0.creator }}</a></small></p>
              <p class="card-text"><small>{{ beatmap.0.comment }}</small></p>
            <audio class="listen" preload="none" data-size="250" src="//b.ppy.sh/preview/{{ beatmap.0.beatmapset }}.mp3"></audio>
            <p class="card-text text-muted"><small>Recommend by <a href="{% url "profile" beatmap.1.id %}" class="hvr-picture-bounce text-decoration-none spacing-hover"><img src="{{ beatmap.1.profile.image.url }}" alt="{{ beatmap.1.username }}" width="32" height="32" class="rounded-circle hvr-icon" style="transition: 0.2s"> {{ beatmap.1.username }}</a></small></p>
          <a class="btn btn-rurusetto" href="osu://b/{{ beatmap.0.beatmap_id }}" role="button"><i class="fas fa-download color-white"></i> osu!direct</a>
          </div>
        </div>
      </div>
    </div>
</div>