{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/cebbc7821d.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://use.typekit.net/cnm5kka.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static "css/index.css" %}">
  <link rel="stylesheet" href="{% static "css/hover.css" %}">
  <style>
      .middle-header-text {
        font-size: 50px;
      }
  </style>

  <title>400 - rūrusetto</title>

<body>

<div class="position-absolute top-50 start-50 translate-middle">
  <p class="round-font-bold text-center middle-header-text">400 Bad Request</p>
  <p class="round-font text-center fs-1">Something went wrong here!</p>
  <div class="text-center fs-1"><p class="spacing-hover hvr-icon-bounce"><a href="{% url 'home' %}" class="text-decoration-none"><i class="fas fa-home icon-menu hvr-icon"></i> Back to homepage</a></p></div>
  <div class="text-center fs-5"><p class="spacing-hover hvr-icon-bounce">or <a href="https://github.com/Rurusetto/rurusetto/issues/new" class="text-decoration-none"><i class="fas fa-bug icon-menu hvr-icon"></i> Make the new issues in GitHub</a></p></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
<script src="{% static "js/custom.js" %}"></script>
</body>
</html>