* {
    color: white;
    font-family: 'Raleway', sans-serif;
    transition: 0.2s
}

body {
    background-color: #2d2d2d;
}

h1, h2, h3 {
    color: white;
    font-family: all-round-gothic, sans-serif;
    font-weight: 600;
    font-style: normal;
}

a {
    color: #ff66aa;
}

a:hover {
    color: #ff268c;
}

/*header {*/
/*    height:10vh;*/
/*    background-size: cover;*/
/*    !*background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0)), url(https://osu.ppy.sh/assets/images/button.16de7c2c.svg);*!*/
/*    !*background-position: bottom;*!*/
/*    !*background-repeat: repeat-x;*!*/
/*    !*filter: hue-rotate(255deg);*!*/
/*}*/

#profile-picture, #header-logo{
    transition: 0.2s;
}

#header {
    background-color: rgba(74,74,74,0);
    transition: 0.2s;
    z-index: 2;
}

footer {
    background-color: #4a4a4a;
}

.hero {
    height:30vh;
    min-height:400px;
    background-size: cover;
    margin:0!important;
    padding:12vh!important;
    transition: 0.2s
}

.nav-text {
    color: #ff63ac;
    font-size: 20px;
    transition: 0.2s
}

.nav-text:hover {
    letter-spacing: 2px;
}

.round-font-normal {
    font-family: all-round-gothic, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.round-font-bold {
    font-family: all-round-gothic, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.text-muted {
    color: #b3b3b3 !important;
}

.btn-rurusetto {
    background-color: #ff66aa!important;
    color: #fff!important;
    border-color: #ff66aa!important;
}

.bg-rurusetto {
    background-color: #ff66aa!important;
    color: #fff!important;
    border-color: #ff66aa!important;
}

.github-footer {
    color: #fff;
}

.github-footer:hover {
    color: #ff66aa;
}

.nav-link:hover {
    color: #ff268c!important;
}

a.dropdown-item {
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
}

.dropdown-menu {
    background-color: #5f5f5f;
}

.dropdown-item:hover {
    background-color: #8f8f8f;
}

.dropdown-pfp::after {
    content:none;
}

.text-box {
    color: white;
    font-family: 'Raleway', sans-serif;
    background-color: #4a4a4a;
}

.blur-bg {
    backdrop-filter: blur(5px);
}

.made-by-footer {
    transition: 0.2s;
}

.made-by-footer:hover {
    letter-spacing: 2px;
}

#mobile-header {
    opacity: 0;
    z-index: 1;
    transition: 0.2s;
    min-height: 68px;
    height: 8%;
    background-color: rgba(74, 74, 74, 0);
}

#mobile-logo {
    transition: 0.2s;
}

@media (max-width: 1010px) {
    #mobile-header {
        opacity: 100%;
    }

    #desktop-header {
        opacity: 0;
    }
}

@media (max-width: 991px) {
    #last-edit {
        order: 1;
    }

    #infobox {
        order: 2;
    }

    #wiki {
        order: 3;
    }
}

#navbarToggleExternalContent {
    margin-top: 77px;
    background-color: rgba(74, 74, 74, .8);
    backdrop-filter: blur(5px);
}

.list-group-item {
    border: 0;
    background-color: rgba(74, 74, 74, .8);
}

.list-group {
    background-color: rgba(74, 74, 74, 0);
}

.list-group-item:hover {
    border: 0;
    background-color: rgba(74, 74, 74, .3);
}

#arrow-profile-menu {
    transition: 0.2s
}

/*Class use in JS*/

.hidden {
    opacity: 0;
}

.show {
    opacity: 100%;
}

.rotate {
    rotation: 180deg;
}

a.disabled {
    pointer-events: none;
    cursor: default;
}


/*#navbar-expand {*/
/*    margin-top: 5%;*/
/*}*/