/*Add your custom css here. This will override any existinc thems css*/

body.dark-mode, 
body.dark-mode main * {
    background: #2d2d2d;
    color: #f5f5f5; /* Dark mode font color*/
}

body.dark-mode div.panel-body {
  background-color: #2d2d2d;
  color: #fff
}

body.dark-mode div.post-meta {
  color: #f5f5f5;
}

body.dark-mode div.panel {
  background-color: #fff;
}

body.dark-mode nav.navbar {
  border-bottom: 1px solid #fff;
}

body.dark-mode footer {
  border-top: 1px solid #fff;
}

body.dark-mode span.post-meta {
  color: #909090;
}

body.dark-mode p.post-meta {
  color: #909090;
}
