{% extends "wiki/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="px-4 py-4 my-4 align-middle hero">
    <div class="container align-middle">
        <div class="row">
            <p></p>
            <div data-aos="fade-up" data-aos-duration="600"><h1 class="display-5 fw-bold">{% trans "add_subpage_header" %}</h1></div>
            <p id="hero-description" data-aos="fade-up" data-aos-duration="700">{{ opengraph_description }}</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
             {% if messages %}
                {% for message in messages %}
                    {% if message.tags == "success"%}
                        <div class="alert alert-success raleway-font">
                            <i class="fas fa-check"></i> {{ message }}
                        </div>
                    {% endif %}
                    {% if message.tags == "error"%}
                        <div class="alert alert-danger raleway-font">
                            <i class="fas fa-times"></i> {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
              {% endif %}
        </div>
    <div class="row">
        <form class="form" method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label form-label">{% trans "title" %}:</label>
                    <div class="col-sm-10">
                      <input type="text" name="title" class="form-control" required id="id_title">
                        <p class="form-error raleway-font">{{ form.title.errors }}</p>
                        <p class="text-muted raleway-font">{% trans "title_description" %}</p>
                    </div>
                  </div>
            </div>
            <h1>{% trans "subpage_content" %}</h1>
            {{ form.media }}
            {{ form.content }}
            <h1>{% trans "publication" %}</h1>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label form-label" for="id_hidden">{% trans "hidden" %}:</label>
                    <div class="col-sm-10">
                        <div class="form-check form-switch">
                            {{ form.hidden }}
                        </div>
                        <p class="form-error raleway-font">{{ form.hidden.errors }}</p>
                        <p class="text-muted raleway-font">{% trans "subpage_hidden_note" %}</p>
                    </div>
                  </div>
            </div>
            <button type="submit" class="btn btn-rurusetto hvr-sweep-to-right raleway-font">{% trans "create" %}</button>
        </form>
    </div>
</div>

    <p></p>

<br>
{% endblock content %}