{% extends "wiki/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="px-4 py-4 my-4 align-middle hero">
    <div class="container align-middle">
        <div class="row">
            <p></p>
            <div data-aos="fade-up" data-aos-duration="600"><h1 class="display-5 fw-bold">{% trans "add_recommend_beatmap_header" %}</h1></div>
            <p id="hero-description" data-aos="fade-up" data-aos-duration="700">{{ opengraph_description }}</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
             {% if messages %}
                {% for message in messages %}
                    {% if message.tags == "success"%}
                        <div class="alert alert-success raleway-font">
                            <i class="fas fa-check"></i> {{ message }}
                        </div>
                    {% endif %}
                    {% if message.tags == "error"%}
                        <div class="alert alert-danger raleway-font">
                            <i class="fas fa-times"></i> {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
              {% endif %}
        </div>
    <div class="row">
        <form class="form" method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label form-label">{% trans "beatmap_id" %} :</label>
                    <div class="col-sm-10">
                      <input type="text" name="beatmap_id" class="form-control" required id="id_beatmap_id">
                        <p class="form-error raleway-font">{{ form.beatmap_id.errors }}</p>
                        <p class="text-muted raleway-font">{% trans "put_beatmap_id_note" %}</p>
                        <p class="text-muted raleway-font">{% trans "put_beatmap_id_note2" %}</p>
                        <p class="text-muted raleway-font">{% trans "put_beatmap_id_example" %}</p>
                        <img src="{% static "img/get-beatmap-id.png" %}" alt="{% trans 'put_beatmap_id_example_pic_alt' %}" style="max-width: 100%;">
                    </div>
                  </div>
            </div>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label form-label">{% trans "comment" %}:</label>
                    <div class="col-sm-10">
                      <input type="text" name="comment" class="form-control" required id="id_comment">
                        <p class="form-error raleway-font">{{ form.comment.errors }}</p>
                        <p class="text-muted raleway-font">{% trans "comment_note" %}</p>
                    </div>
                  </div>
            </div>
            <button type="submit" class="btn btn-rurusetto hvr-sweep-to-right raleway-font">{% trans "add" %}</button>
        </form>
    </div>
</div>

    <p></p>

<br>
{% endblock content %}
