{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
  <meta name="msapplication-TileColor" content="#ff66aa">
  <meta name="theme-color" content="#ff66aa">

    <!-- HTML Meta Tags -->
    <title>{{ title }} - rūrusetto</title>
    <meta name="description" content="{{ opengraph_description }}">

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content="{{ opengraph_url }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title }} - rūrusetto">
    <meta property="og:description" content="{{ opengraph_description }}">
    <meta property="og:image" content="{{ opengraph_image }}">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="rūrusetto">
    <meta property="twitter:url" content="{{ opengraph_url }}">
    <meta name="twitter:title" content="{{ title }} - rūrusetto">
    <meta name="twitter:description" content="{{ description }}">
    <meta name="twitter:image" content="{{ opengraph_image }}">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/cebbc7821d.js" crossorigin="anonymous"></script>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.typekit.net/cnm5kka.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/index.css' %}">
  <link rel="stylesheet" href="{% static 'css/hover.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <style>
        .hero {
            background-image: linear-gradient(to bottom, transparent, #2d2d2d), url({{ hero_image }});
            background-position: top center;
        }

        body.light .hero {
            background-image: linear-gradient(to bottom, transparent, #fff), url({{ hero_image_light }});
            background-position: top center;
        }

        {% block css %}{% endblock %}
    </style>
</head>
<body class="{{ user.config.theme }}">
  <header id="header" class="p-3 mb-3 fixed-top">
    <div id="desktop-header" class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="{% url 'home' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none hvr-bounce-in">
          <img id="header-logo" src="{% static 'logo/rurusetto-logo.svg' %}" height="65" alt="logo" data-aos="zoom-in">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <div data-aos="fade-up" data-aos-duration="600">
                <li><a id="nav-listing" href="{% url 'listing' %}" class="nav-link px-2 nav-text round-font-bold hvr-underline-from-center">Listing</a></li>
            </div>
            <div data-aos="fade-up" data-aos-duration="700">
                <li><a id="nav-status" data-aos-duration="700" href="#" class="nav-link px-2 nav-text round-font-bold hvr-underline-from-center">Status</a></li>
            </div>
            <div data-aos="fade-up" data-aos-duration="800">
                <li><a id="nav-install" data-aos-duration="800" href="{% url 'install' %}" class="nav-link px-2 nav-text round-font-bold hvr-underline-from-center">Install</a></li>
            </div>
            <div data-aos="fade-up" data-aos-duration="900">
                <li><a id="nav-changelog" data-aos-duration="900" href="{% url 'changelog' %}" class="nav-link px-2 nav-text round-font-bold hvr-underline-from-center">Changelog</a></li>
            </div>
        </ul>

        {% if user.is_authenticated %}
        <div class="dropdown text-end" data-aos="zoom-in" data-aos-duration="1000">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle dropdown-pfp" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img id="profile-picture" src="{{ user.profile.image.url }}" alt="{{ user.username }}" height="48" width="48" class="rounded-circle hvr-grow">
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item spacing-hover" href="{% url "settings" %}">Settings</a></li>
            <li><a class="dropdown-item spacing-hover" href="{% url "profile" user.id %}">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item spacing-hover" id="signout-button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Sign out</a></li>
          </ul>
        </div>
        {% else %}
        <div class="dropdown text-end" data-aos="zoom-in" data-aos-duration="1000">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle dropdown-pfp" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img id="profile-picture" src="{% static 'img/guest-profile.png' %}" alt="Guest" height="48" width="48" class="rounded-circle hvr-grow">
          </a>
          <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item spacing-hover" href="{% url 'account_login' %}">Sign in</a></li>
            <li><a class="dropdown-item spacing-hover" href="{% url 'account_signup' %}">Sign Up</a></li>
          </ul>
        </div>
        {% endif %}
      </div>
    </div>
  </header>

  {% if user.is_authenticated %}
      <nav id="mobile-header" class="navbar p-3 mb-3 navbar-dark fixed-top">
        <div class="container-fluid">
          <a href="{% url 'home' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none hvr-bounce-in">
            <img id="mobile-logo" src="{% static 'logo/rurusetto-logo.svg' %}" height="50" alt="logo">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" style="margin-top: -10px;">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
      <div class="collapse fixed-top" id="navbarToggleExternalContent">
          <div class="list-group border-0">
            <a href="{% url 'listing' %}" class="list-group-item list-group-item-action mobile-header-text">Listing</a>
            <a href="#" class="list-group-item list-group-item-action mobile-header-text">Status</a>
            <a href="{% url 'install' %}" class="list-group-item list-group-item-action mobile-header-text">Install</a>
            <a href="{% url 'changelog' %}" class="list-group-item list-group-item-action mobile-header-text">Changelog</a>
            <a href="#collapseProfileMenu" class="list-group-item list-group-item-action mobile-header-text profile-menu" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseProfileMenu" onclick="rotateArrowMenu()" id="profile-menu"><img id="profile-picture-mobile" src="{{ user.profile.image.url }}" alt="{{ user.username }}" height="32" width="32" class="rounded-circle"> {{ user.username }} <i class="fas fa-chevron-down" id="arrow-profile-menu"></i></a>
            <div class="collapse" id="collapseProfileMenu">
              <div class="list-group border-0">
                <a href="{% url "settings" %}" class="list-group-item list-group-item-action mobile-header-text">Settings</a>
                <a href="{% url 'profile' user.id %}" class="list-group-item list-group-item-action mobile-header-text">Profile</a>
                <a class="list-group-item list-group-item-action mobile-header-text" id="signout-button" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Sign out</a>
              </div>
            </div>
          </div>
      </div>
  {% else %}
      <nav id="mobile-header" class="navbar p-3 mb-3 navbar-dark fixed-top">
        <div class="container-fluid">
          <a href="{% url 'home' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none hvr-bounce-in">
            <img id="mobile-logo" src="{% static 'logo/rurusetto-logo.svg' %}" height="50" width="50" alt="logo">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation" style="margin-top: -10px;">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </nav>
      <div class="collapse fixed-top" id="navbarToggleExternalContent">
          <div class="list-group border-0">
            <a href="{% url 'listing' %}" class="list-group-item list-group-item-action mobile-header-text">Listing</a>
            <a href="#" class="list-group-item list-group-item-action mobile-header-text">Status</a>
            <a href="{% url 'install' %}" class="list-group-item list-group-item-action mobile-header-text">Install</a>
            <a href="{% url 'changelog' %}" class="list-group-item list-group-item-action mobile-header-text">Changelog</a>
            <a href="{% url 'account_login' %}" class="list-group-item list-group-item-action mobile-header-text">Sign In</a>
            <a href="{% url 'account_signup' %}" class="list-group-item list-group-item-action mobile-header-text">Sign Up</a>
            </div>
          </div>
  {% endif %}

  <div class="modal fade" id="staticBackdrop" tabindex="-1" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Alert</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Are you sure you want to sign out :(
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No,let me back!</button>
{#          <a role="button" href="{% url 'logout' %}" class="btn btn-primary">Yes</a>#}
            <form method="post" action="{% url 'account_logout' %}">
              {% csrf_token %}
              <button class="btn btn-secondary btn-rurusetto hvr-sweep-to-right" type="submit">Sign Out</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  {% block content %}{% endblock %}

  <footer class="footer mt-auto py-3">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>Made with ❤️ by <a class="text-decoration-none hvr-underline-from-center made-by-footer" target="_blank" href="https://github.com/HelloYeew">HelloYeew</a> and <a class="text-decoration-none hvr-underline-from-center made-by-footer" target="_blank" href="https://github.com/Rurusetto">Rūrusetto</a></p>
        </div>
        <div class="col text-end github-footer">
          <a target="_blank" href="https://github.com/Rurusetto/rurusetto"><i class="fab fa-github hvr-grow github-footer"></i></a>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
  </script>
  <script src="{% static 'js/custom.min.js' %}"></script>

</body>
</html>