{% extends "wiki/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="px-4 py-4 my-4 align-middle hero">
    <div class="container align-middle">
        <div class="row">
            <p></p>
            <div data-aos="fade-up" data-aos-duration="600"><h1 class="display-5 fw-bold">{% trans "add_a_new_ruleset" %}</h1></div>
            <p data-aos="fade-up" data-aos-duration=700" id="hero-description">{% trans "add_a_new_ruleset_description" %}</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <form class="form" method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <h1>{% trans "header" %}</h1>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label form-label">{% trans "name" %}:</label>
                    <div class="col-sm-10">
                      <input type="text" name="name" class="form-control" required id="id_name">
                        <p class="form-error raleway-font">{{ form.name.errors }}</p>
                        <p class="text-muted raleway-font">{% trans "name_description" %}</p>
                    </div>
                  </div>
            </div>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label form-label">{% trans "description" %}:</label>
                    <div class="col-sm-10">
                      <textarea name="description" cols="40" rows="10" class="form-control" required id="id_description"></textarea>
                        <p class="form-error raleway-font">{{ form.description.errors }}</p>
                        <p class="text-muted raleway-font">{% trans "description_description" %}</p>
                    </div>
                  </div>
            </div>
            <h1>{% trans "icon_and_logo" %}</h1>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label form-label">{% trans "icon" %}:</label>
                    <div class="col-sm-10">
                      <input type="file" name="icon" accept="image/*" id="id_icon" class="form-control" required>
                        <p class="form-error raleway-font">{{ form.icon.errors }}</p>
                        <p class="text-muted raleway-font">{% trans "icon_description" %}</p>
                    </div>
                  </div>
            </div>
            <div class="fieldWrapper">
              <div class="mb-3 row">
                 <label class="col-sm-2 col-form-label form-label">{% trans "light_icon" %}:</label>
                 <div class="col-sm-10">
                   <input type="file" name="light_icon" accept="image/*" id="id_dark_icon" class="form-control" required>
                     <p class="form-error raleway-font">{{ form.dark_icon.errors }}</p>
                     <p class="text-muted raleway-font">{% trans "light_icon_description" %}</p>
                 </div>
               </div>
         </div>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label form-label">{% trans "logo" %}:</label>
                    <div class="col-sm-10">
                        <input type="file" name="logo" accept="image/*" id="id_logo" class="form-control" required>
                        <p class="form-error raleway-font">{{ form.logo.errors }}</p>
                        <p class="text-muted raleway-font">{% trans "logo_description" %}</p>
                    </div>
                  </div>
            </div>
            <h1>{% trans "wiki_content" %}</h1>
            {{ form.media }}
            {{ form.content }}
            {{ form.content.errors }}
            <h1>{% trans "wiki_styling" %}</h1>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label form-label">{% trans "cover_image" %}:</label>
                    <div class="col-sm-10">
                      <input type="file" name="cover_image" accept="image/*" id="id_cover_image" class="form-control">
                        <p class="form-error raleway-font">{{ form.cover_image.errors }}</p>
                        <p class="text-muted raleway-font">{% trans "cover_image_description" %}</p>
                    </div>
                  </div>
            </div>
            <h1>{% trans "source" %}</h1>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label form-label">{% trans "source" %}:</label>
                    <div class="col-sm-10">
                      <input type="url" name="source" maxlength="200" required id="id_source" class="form-control">
                        <p class="form-error raleway-font">{{ form.source.errors }}</p>
                        <p class="text-muted raleway-font">{% trans "source_description" %}</p>
                        <p class="text-muted raleway-font">{% trans "source_description_github" %}</p>
                        <p class="text-muted raleway-font">{% trans "source_description_patreon" %}</p>
                    </div>
                  </div>
            </div>
            <h1>{% trans "publication" %}</h1>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label form-label" for="id_hidden">{% trans "hidden" %}:</label>
                    <div class="col-sm-10">
                        <div class="form-check form-switch">
                            {{ form.hidden }}
                        </div>
                        <p class="form-error raleway-font">{{ form.hidden.errors }}</p>
                        <p class="text-muted raleway-font">{% trans "hidden_description" %}</p>
                    </div>
                  </div>
            </div>
            <button type="submit" class="btn btn-rurusetto hvr-sweep-to-right raleway-font">Create</button>
        </form>
    </div>
</div>

    <p></p>

<br>
{% endblock content %}
