{% extends "wiki/base.html" %}
{% load static %}
{% block content %}

<div class="px-4 py-4 my-4 align-middle hero">
    <div class="container align-middle">
        <div class="row">
            <p></p>
            <div><h1 class="display-5 fw-bold" data-aos="fade-up" data-aos-duration="600">Edit</h1></div>
            <p id="hero-description" data-aos="fade-up" data-aos-duration="700">You are currently edit content on ruleset name "{{ name }}".</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <form class="form" method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <h1>Header</h1>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label form-label" for="id_name">{{ form.name.label_tag }}</label>
                    <div class="col-sm-10">
                      <input type="text" name="name" class="form-control" required id="id_name" value="{{ form.name.value }}">
                       <p class="form-error raleway-font">{{ form.name.errors }}</p>
                        <p class="text-muted raleway-font">The ruleset name.</p>
                    </div>
                  </div>
            </div>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label form-label" for="id_description">{{ form.description.label_tag }}</label>
                    <div class="col-sm-10">
                      <textarea name="description" cols="40" rows="10" class="form-control" required id="id_description">{{ form.description.value }}</textarea>
                       <p class="form-error raleway-font">{{ form.description.errors }}</p>
                        <p class="text-muted raleway-font">The description of ruleset. Will show under ruleset name and at the header of wiki page.</p>
                    </div>
                  </div>
            </div>
            <h1>Icon & Logo</h1>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label form-label" for="id_icon">{{ form.icon.label_tag }}</label>
                    <div class="col-sm-10">
                        <div class="raleway-font form-current">Current Icon : <a href="{{ form.icon.value.url }}">{{ form.icon.value }}</a></div>
                      <input type="file" name="icon" accept="image/*" id="id_icon" class="form-control">
                        <p class="form-error raleway-font">{{ form.icon.errors }}</p>
                        <p class="text-muted raleway-font">An icon that show at in-game header. Recommend shape is circle.</p>
                    </div>
                  </div>
            </div>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label form-label" for="id_logo">{{ form.logo.label_tag }}</label>
                    <div class="col-sm-10">
                        <div class="raleway-font form-current">Current Logo : <a href="{{ form.logo.value.url }}">{{ form.logo.value }}</a></div>
                        <input type="file" name="logo" accept="image/*" id="id_logo" class="form-control">
                        <p class="form-error raleway-font">{{ form.logo.errors }}</p>
                        <p class="text-muted raleway-font">A logo will show in wiki's infobox. It can be not same to an icon.</p>
                    </div>
                  </div>
            </div>
            <h1>Wiki Content</h1>
            {{ form.media }}
            {{ form.content }}
            {{ form.content.errors }}
            <h1>Wiki Styling</h1>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label form-label" for="id_cover_image">{{ form.cover_image.label_tag }}</label>
                    <div class="col-sm-10">
                       <div class="raleway-font form-current"> Current Cover Image : <a href="{{ form.cover_image.value.url }}">{{ form.cover_image.value }}</a></div>
                      <input type="file" name="cover_image" accept="image/*" id="id_cover_image" class="form-control">
                        <p class="form-error raleway-font">{{ form.cover_image.errors }}</p>
                        <p class="text-muted raleway-font">A picture at the header of the wiki page.</p>
                    </div>
                  </div>
            </div>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label form-label" for="id_opengraph_image">Opengraph Preview Image:</label>
                    <div class="col-sm-10">
                       <div class="raleway-font form-current"> Current Opengraph Preview Image : <a href="{{ form.opengraph_image.value.url }}">{{ form.opengraph_image.value }}</a></div>
                      <input type="file" name="opengraph_image" accept="image/*" id="id_opengraph_image" class="form-control">
                        <p class="form-error raleway-font">{{ form.opengraph_image.errors }}</p>
                        <p class="text-muted raleway-font">A picture that will show on when someone share the link and the social network app will show this picture as a preview image.</p>
                    </div>
                  </div>
            </div>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label form-label" for="id_opengraph_image">Recommend Beatmaps Cover Image:</label>
                    <div class="col-sm-10">
                       <div class="raleway-font form-current"> Current Recommend Beatmaps Cover Image : <a href="{{ form.recommend_beatmap_cover.value.url }}">{{ form.recommend_beatmap_cover.value }}</a></div>
                      <input type="file" name="recommend_beatmap_cover" accept="image/*" id="id_recommend_beatmap_cover" class="form-control">
                        <p class="form-error raleway-font">{{ form.recommend_beatmap_cover.errors }}</p>
                        <p class="text-muted raleway-font">A cover image of ruleset's recommend beatmaps page.</p>
                    </div>
                  </div>
            </div>
            <h1>Source</h1>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label form-label" for="id_source">{{ form.source.label_tag }}</label>
                    <div class="col-sm-10">
                      <input type="url" name="source" maxlength="200" required id="id_source" class="form-control" value="{{ form.source.value }}">
                        <p class="form-error raleway-font">{{ form.source.errors }}</p>
                        <p class="text-muted raleway-font">A source of the ruleset (or where the player can download this ruleset.) </p>
                        <p class="text-muted raleway-font">If this ruleset is available on GitHub please set this link as link to the repository (Ex. https://github.com/LumpBloom7/sentakki)</p>
                        <p class="text-muted raleway-font">If you get it from patreon, please set this link as the patreon page of the creator. (Ex. https://www.patreon.com/evast/)</p>
                    </div>
                  </div>
            </div>
            <button type="submit" class="btn btn-rurusetto hvr-sweep-to-right raleway-font">Edit</button>
        </form>
    </div>
</div>

    <p></p>

<br>
{% endblock content %}