{% extends "wiki/base.html" %}
{% load static %}
{% load i18n %}
{% block content %}

<div class="px-4 py-4 my-4 align-middle hero">
    <div class="container align-middle">
        <div class="row">
            <p></p>
            <div><h1 class="display-5 fw-bold" data-aos="fade-up" data-aos-duration="600">{% trans "edit" %}</h1></div>
            <p id="hero-description" data-aos="fade-up" data-aos-duration="700">{% blocktrans with ruleset_name=name %} You are currently editing content on ruleset named "{{ ruleset_name }}".{% endblocktrans %}</p>
        </div>
    </div>
</div>

<div class="container">
  <div class="row">
     {% if messages %}
        {% for message in messages %}
            {% if message.tags == "success"%}
                <div class="alert alert-success">
                    <i class="fas fa-check"></i> {{ message }}
                </div>
            {% endif %}
            {% if message.tags == "error"%}
                <div class="alert alert-danger">
                    <i class="fas fa-times"></i> {{ message }}
                </div>
            {% endif %}
        {% endfor %}
      {% endif %}
</div>
</div>

<div class="container">
    <div class="row">
        <form class="form" method="POST" enctype='multipart/form-data'>
            {% csrf_token %}
            <h1>{% trans "header" %}</h1>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label form-label" for="id_name">{% trans "name" %}:</label>
                    <div class="col-sm-10">
                      <input type="text" name="name" class="form-control" required id="id_name" value="{{ form.name.value }}">
                       <p class="form-error raleway-font">{{ form.name.errors }}</p>
                        <p class="text-muted raleway-font">{% trans "name_description" %}</p>
                    </div>
                  </div>
            </div>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label form-label" for="id_description">{% trans "description" %}:</label>
                    <div class="col-sm-10">
                      <textarea name="description" cols="40" rows="10" class="form-control" required id="id_description">{{ form.description.value }}</textarea>
                       <p class="form-error raleway-font">{{ form.description.errors }}</p>
                        <p class="text-muted raleway-font">{% trans "description_description" %}</p>
                    </div>
                  </div>
            </div>
            <h1>{% trans "icon_and_logo" %}</h1>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label form-label" for="id_icon">{% trans "icon" %}:</label>
                    <div class="col-sm-10">
                        <div class="raleway-font form-current">{% trans "current_icon" %} : <a href="{{ form.icon.value.url }}">{{ form.icon.value }}</a></div>
                      <input type="file" name="icon" accept="image/*" id="id_icon" class="form-control">
                        <p class="form-error raleway-font">{{ form.icon.errors }}</p>
                        <p class="text-muted raleway-font">{% trans "icon_description" %}</p>
                    </div>
                  </div>
            </div>
            <div class="fieldWrapper">
              <div class="mb-3 row">
                 <label class="col-sm-2 col-form-label form-label" for="id_icon">{% trans "light_icon" %}:</label>
                 <div class="col-sm-10">
                     <div class="raleway-font form-current">{% trans "current_light_icon" %} : <a href="{{ form.light_icon.value.url }}">{{ form.light_icon.value }}</a></div>
                   <input type="file" name="light_icon" accept="image/*" id="id_light_icon" class="form-control">
                     <p class="form-error raleway-font">{{ form.light_icon.errors }}</p>
                     <p class="text-muted raleway-font">{% trans "light_icon_description" %}</p>
                 </div>
               </div>
         </div>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label form-label" for="id_logo">{% trans "logo" %}:</label>
                    <div class="col-sm-10">
                        <div class="raleway-font form-current">{% trans "current_logo" %} : <a href="{{ form.logo.value.url }}">{{ form.logo.value }}</a></div>
                        <input type="file" name="logo" accept="image/*" id="id_logo" class="form-control">
                        <p class="form-error raleway-font">{{ form.logo.errors }}</p>
                        <p class="text-muted raleway-font">{% trans "logo_description" %}</p>
                    </div>
                  </div>
            </div>
            <h1>{% trans "wiki_content" %}</h1>
            {{ form.media }}
            {{ form.content }}
            {{ form.content.errors }}
            <h1>{% trans "wiki_styling" %}</h1>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label form-label" for="id_cover_image">{% trans "cover_image" %}:</label>
                    <div class="col-sm-10">
                       <div class="raleway-font form-current">{% trans "current_cover_image" %} : <a href="{{ form.cover_image.value.url }}">{{ form.cover_image.value }}</a></div>
                      <input type="file" name="cover_image" accept="image/*" id="id_cover_image" class="form-control">
                        <p class="form-error raleway-font">{{ form.cover_image.errors }}</p>
                        <p class="text-muted raleway-font">{% trans "cover_image_description" %}</p>
                    </div>
                  </div>
            </div>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label form-label" for="id_cover_image_light">{% trans "cover_image_in_light_mode" %}:</label>
                    <div class="col-sm-10">
                       <div class="raleway-font form-current"> {% trans "current_cover_image_in_light_mode" %} : <a href="{{ form.cover_image_light.value.url }}">{{ form.cover_image_light.value }}</a></div>
                      <input type="file" name="cover_image_light" accept="image/*" id="id_cover_image_light" class="form-control">
                        <p class="form-error raleway-font">{{ form.cover_image_light.errors }}</p>
                        <p class="text-muted raleway-font">{% trans "cover_image_in_light_mode_description" %}</p>
                    </div>
                  </div>
            </div>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label form-label" for="id_opengraph_image">{% trans "opengraph_preview_image" %}:</label>
                    <div class="col-sm-10">
                       <div class="raleway-font form-current">{% trans "current_opengraph_preview_image" %} : <a href="{{ form.opengraph_image.value.url }}">{{ form.opengraph_image.value }}</a></div>
                      <input type="file" name="opengraph_image" accept="image/*" id="id_opengraph_image" class="form-control">
                        <p class="form-error raleway-font">{{ form.opengraph_image.errors }}</p>
                        <p class="text-muted raleway-font">{% trans "opengraph_preview_image_description" %}</p>
                    </div>
                  </div>
            </div>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label form-label" for="id_opengraph_image">{% trans "recommend_beatmaps_cover_image" %}:</label>
                    <div class="col-sm-10">
                       <div class="raleway-font form-current">{% trans "current_recommend_beatmaps_cover_image" %} : <a href="{{ form.recommend_beatmap_cover.value.url }}">{{ form.recommend_beatmap_cover.value }}</a></div>
                      <input type="file" name="recommend_beatmap_cover" accept="image/*" id="id_recommend_beatmap_cover" class="form-control">
                        <p class="form-error raleway-font">{{ form.recommend_beatmap_cover.errors }}</p>
                        <p class="text-muted raleway-font">{% trans "recommend_beatmaps_cover_image_description" %}</p>
                    </div>
                  </div>
            </div>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label form-label" for="id_custom_css">{% trans "custom_css" %}:</label>
                    <div class="col-sm-10">
                       <div class="raleway-font form-current">{% trans "current_custom_css" %} : <a href="{{ form.custom_css.value.url }}">{{ form.custom_css.value }}</a></div>
                      <input type="file" name="custom_css" id="id_custom_css" class="form-control">
                        <p class="form-error raleway-font">{{ form.custom_css.errors }}</p>
                        <p class="text-muted raleway-font">{% trans "custom_css_description" %}</p>
                    </div>
                  </div>
            </div>
            <h1>{% trans "source" %}</h1>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label form-label" for="id_source">{% trans "source" %}:</label>
                    <div class="col-sm-10">
                      <input type="url" name="source" maxlength="200" required id="id_source" class="form-control" value="{{ form.source.value }}">
                        <p class="form-error raleway-font">{{ form.source.errors }}</p>
                        <p class="text-muted raleway-font">{% trans "source_description" %}</p>
                        <p class="text-muted raleway-font">{% trans "source_description_github" %}</p>
                        <p class="text-muted raleway-font">{% trans "source_description_patreon" %}</p>
                    </div>
                  </div>
            </div>
            {% if source_type == "github" and ruleset.source != "" %}
            <h1>{% trans "download" %}</h1>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label form-label" for="id_github_download_filename">{% trans "ruleset_filename" %}:</label>
                    <div class="col-sm-10">
                      <input type="text" name="github_download_filename" maxlength="100" id="id_github_download_filename" class="form-control" value="{{ form.github_download_filename.value }}">
                        <p class="form-error raleway-font">{{ form.github_download_filename.errors }}</p>
                        <p class="text-muted raleway-font">{% trans "ruleset_filename_description" %}</p>
                        <p class="text-muted raleway-font">{% trans "ruleset_filename_description2" %}</p>
                        <p class="text-muted raleway-font">{% blocktrans %}Ex. From <a href="https://github.com/naoei/tau">tau</a> : osu.Game.Rulesets.Tau.dll and the link will render as <a href="https://github.com/naoei/tau/releases/latest/download/osu.Game.Rulesets.Tau.dll">https://github.com/naoei/tau/releases/latest/download/osu.Game.Rulesets.Tau.dll</a>{% endblocktrans %}</p>
                        <p class="text-muted raleway-font">{% trans "ruleset_filename_description3" %}</p>
                        <p class="text-muted raleway-font">{% trans "ruleset_filename_description4" %}</p>
                    </div>
                  </div>
            </div>
            {% endif %}
            {% if has_edit_permission %}
            <h1>{% trans "ruleset_owner_settings" %}</h1>
            <h2>{% trans "publication" %}</h2>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label form-label" for="id_hidden">{% trans "hidden" %}:</label>
                    <div class="col-sm-10">
                        <div class="form-check form-switch">
                            {{ form.hidden }}
                        </div>
                        <p class="form-error raleway-font">{{ form.hidden.errors }}</p>
                        <p class="text-muted raleway-font">{% trans "hidden_description" %}</p>
                    </div>
                  </div>
            </div>
            <h2>{% trans "status" %}</h2>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label form-label" for="id_pre_release">{% trans "pre_release" %}:</label>
                    <div class="col-sm-10">
                        <div class="form-check form-switch">
                            {{ status_form.pre_release }}
                        </div>
                        <p class="form-error raleway-font">{{ status_form.pre_release.errors }}</p>
                        <p class="text-muted raleway-font">{% trans "pre_release_description" %}</p>
                    </div>
                  </div>
            </div>
            <div class="fieldWrapper">
                 <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label form-label" for="id_pre_release">{% trans "playable" %}:</label>
                    <div class="col-sm-10">
                        {{ status_form.playable }}
                        <p class="form-error raleway-font">{{ status_form.playable.errors }}</p>
                        <p class="text-muted raleway-font">{% trans "playable_description" %}</p>
                    </div>
                  </div>
            </div>
            {% endif %}
            <button type="submit" class="btn btn-rurusetto hvr-sweep-to-right raleway-font">{% trans "edit" %}</button>
        </form>
    </div>
</div>

    <p></p>

<br>
{% endblock content %}
