{% extends "wiki/base.html" %}
{% load static %}
{% block content %}

<div class="px-4 py-4 my-4 text-center align-middle hero">
    <img class="d-block mx-auto mb-4" id="home-logo" src="{% static 'logo/rurusetto-logo-white.svg' %}" alt="Rurusetto Logo" height="65" data-aos="zoom-in" data-aos-duration="600">
    <h1 class="display-5 fw-bold" id="home-welcome" data-aos="fade-up" data-aos-duration="700">Welcome to rūrusetto!</h1>
    <div class="col-lg-4 mx-auto">
      <p class="lead mb-4" id="home-description" data-aos="fade-up" data-aos-duration="800">A wiki that contain all osu! rulesets.</p>
    </div>
  </div>

  <div class="container">
      <div class="row">
         {% if messages %}
            {% for message in messages %}
                {% if message.tags == "success"%}
                    <div class="alert alert-success">
                        <i class="fas fa-check"></i> {{ message }}
                    </div>
                {% endif %}
                {% if message.tags == "error"%}
                    <div class="alert alert-danger">
                        <i class="fas fa-times"></i> {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
          {% endif %}
    </div>
  </div>

  <div class="container">
    <div class="row mb-3">
      <div class="alert alert-danger" role="alert">
        This website is under heavy development and in the test phase. Some functions will not be processed or won't work properly. All pictures that are used in the current version have not been finalized.
      </div>
    </div>
    <div class="row mb-3">
      <div class="alert alert-danger" role="alert">
       <p class="text-danger">To Beta Testers (?):</p>
       <p class="text-danger">This update adds sign up and login by using osu! account, add an opengraph and all that is necessary for SEO.</p>
       <p class="text-danger">1. Please try loging in with your osu! account and check that all information from your osu! account is completely transfered to your new rūrusetto account.</p>
       <p class="text-danger">2. Please test the 'Update Profile Every Login Session' function. You can use it by turning it on at the settings page.</p>
       <p class="text-danger">3. If an opengraph detail or a website icon on some page is wrong please tell me. (You can try it by try sending it on discord or try viewing a preview on twitter.)</p>
       <p class="text-danger">If you find more bugs or a problem with this website please tell it to me on the discord channel.</p>
       <p class="text-danger">Ps. After finishing the beta phase and deploying the finished website to the main domain, all account information and all wiki information will be reseted and deleted or all data will still be here but this server will be converted to a test server when the stable version of the website is released.</p>
          <p class="text-danger">Ps2. Note that the form design is not final but it can be used now so if you have some idea on form design please tell it to me on discord.</p>
       <p class="text-danger">HelloYeew</p>
      </div>
    </div>
  </div>

    <div class="container">
        <div class="row mb-3">
          <h1>Latest rulesets</h1>
        </div>
        <div class="row text-center">
          {% for detail in latest_add_rulesets %}
          <div class="col-lg-4">

              {% if user.config.theme == 'light' %}
              <img src="{{ detail.0.icon.url }}" alt="{{ detail.0.name }}" width="140px" height="140px" class="rounded-circle">
              {% else %}
              <img src="{{ detail.0.dark_icon.url }}" alt="{{ detail.0.name }}" width="140px" height="140px" class="rounded-circle">
              {% endif %}

                <h2 class="rulesets-name">{{ detail.0.name }}</h2>
                {% if detail.1 == None %}
                    {% if detail.0.verified %}
                        <p class="text-muted"><img src="{% static 'img/default.jpeg' %}" alt="Deleted User" width="32" height="32" class="rounded-circle hvr-icon"> Deleted User <i class="fas fa-check-circle verified-circle icon-menu hvr-icon"></i></p>
                    {% else %}
                        <p class="text-muted"><img src="{% static 'img/default.jpeg' %}" alt="Deleted User" width="32" height="32" class="rounded-circle hvr-icon"> Deleted User </p>
                    {% endif %}
                {% else %}
                    {% if detail.0.verified %}
                        <a href="{% url "profile" detail.1.id %}" class="hvr-picture-bounce text-decoration-none spacing-hover profile-link"><p class="text-muted"><img src="{{ detail.1.profile.image.url }}" alt="{{ detail.1.username }}" width="32" height="32" class="rounded-circle hvr-icon"> {{ detail.1.username }} <i class="fas fa-check-circle verified-circle icon-menu hvr-icon"></i></p></a>
                    {% else %}
                        <a href="{% url "profile" detail.1.id %}" class="hvr-picture-bounce text-decoration-none spacing-hover profile-link"><p class="text-muted"><img src="{{ detail.1.profile.image.url }}" alt="{{ detail.1.username }}" width="32" height="32" class="rounded-circle hvr-icon"> {{ detail.1.username }} </p></a>
                    {% endif %}
                {% endif %}
                <p class="rulesets-description">{{ detail.0.description }}</p>
                <p><a class="btn btn-secondary btn-rurusetto hvr-sweep-to-right" href="{% url "wiki" detail.0.slug %}">Read &raquo;</a></p>
          </div>
          {% endfor %}
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

  <br>
{% endblock content %}
