{% extends "wiki/base.html" %}
{% load static %}
{% block content %}

<div class="px-4 py-4 my-4 align-middle hero">
    <div class="container align-middle">
        <div class="row">
            <p></p>
            <div data-aos="fade-up" data-aos-duration="600"><h1 class="display-5 fw-bold">Listing</h1></div>
            <p data-aos="fade-up" data-aos-duration="700">List of available rulesets.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {% if user.is_authenticated %}
        <div class="col-sm-2">
            <p data-aos="fade-up" data-aos-duration="800"><a class="text-decoration-none text-center spacing-hover-short hvr-icon-bounce" href="{% url 'create_ruleset' %}"><i class="fas fa-plus icon-menu hvr-icon"></i> Add a new ruleset</a></p>
        </div>
        {% else %}
            <p></p>
        {% endif %}
    </div>
</div>

    <p></p>

<div class="container">
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "success"%}
                <div class="alert alert-success">
                    <i class="fas fa-check"></i> {{ message }}
                </div>
            {% endif %}
            {% if message.tags == "error"%}
                <div class="alert alert-danger">
                    <i class="fas fa-times"></i> {{ message }}
                </div>
            {% endif %}
        {% endfor %}
      {% endif %}
    <div class="row text-center gy-4">
        {% for detail in rulesets %}
        <div class="col-lg-4" data-aos="fade-up" data-aos-duration="600" data-aos-once="true">

            {% if user.config.theme == 'light' %}
            <img src="{{ detail.0.light_icon.url }}" alt="{{ detail.0.name }}" width="140px" height="140px" class="rounded-circle">
            {% else %}
            <img src="{{ detail.0.icon.url }}" alt="{{ detail.0.name }}" width="140px" height="140px" class="rounded-circle">
            {% endif %}

            <h2 class="rulesets-name">{{ detail.0.name }}</h2>
            {% if detail.1 == None %}
                {% if detail.0.verified %}
                    <p class="text-muted"><img src="{% static 'img/default.jpeg' %}" alt="Deleted User" width="32" height="32" class="rounded-circle hvr-icon"> Deleted User <i class="fas fa-check-circle verified-circle icon-menu hvr-icon" data-bs-toggle="tooltip" data-bs-placement="right" title="Verified rulesets creator"></i></p>
                {% else %}
                    <p class="text-muted"><img src="{% static 'img/default.jpeg' %}" alt="Deleted User" width="32" height="32" class="rounded-circle hvr-icon"> Deleted User </p>
                {% endif %}
            {% else %}
                {% if detail.0.verified %}
                    <a href="{% url "profile" detail.1.id %}" class="hvr-picture-bounce text-decoration-none spacing-hover profile-link"><p class="text-muted"><img src="{{ detail.1.profile.image.url }}" alt="{{ detail.1.username }}" width="32" height="32" class="rounded-circle hvr-icon"> {{ detail.1.username }} <i class="fas fa-check-circle verified-circle icon-menu hvr-icon" data-bs-toggle="tooltip" data-bs-placement="right" title="Verified rulesets creator"></i></p></a>
                {% else %}
                    <a href="{% url "profile" detail.1.id %}" class="hvr-picture-bounce text-decoration-none spacing-hover profile-link"><p class="text-muted"><img src="{{ detail.1.profile.image.url }}" alt="{{ detail.1.username }}" width="32" height="32" class="rounded-circle hvr-icon"> {{ detail.1.username }} </p></a>
                {% endif %}
            {% endif %}
            <p class="rulesets-description">{{ detail.0.description }}</p>
            <p><a class="btn btn-secondary btn-rurusetto hvr-sweep-to-right" href="{% url "wiki" detail.0.slug %}">Read &raquo;</a></p>
        </div>
        {% endfor %}
    </div>
</div>

<br>
{% endblock content %}