{% extends "wiki/base.html" %}
{% load static %}
{% load i18n %}
{% load convert_star_rating %}
{% block content %}

<link rel="stylesheet" href="{% static "css/progres-bar.css" %}">

<div class="px-4 py-4 my-4 align-middle hero">
    <div class="container align-middle">
        <div class="row">
            <p></p>
            <div data-aos="fade-up" data-aos-duration="600"><h1 class="display-5 fw-bold">{% blocktrans with ruleset_name=ruleset.name %}{{ ruleset_name }} recommended beatmaps approval{% endblocktrans %}</h1></div>
            <p data-aos="fade-up" data-aos-duration="700">{% trans "recommend_beatmaps_approval_description" %}</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {% if user.is_authenticated %}
        <div class="col-sm-4">
            <p data-aos="fade-up" data-aos-duration="700"><a class="text-decoration-none text-center spacing-hover-short hvr-icon-bounce" href="{% url 'recommend_beatmap' ruleset.slug %}"><i class="fas fa-chevron-circle-left icon-menu hvr-icon"></i> {% trans "back_to_recommend_beatmaps" %}</a></p>
        </div>
        {% else %}
            <p></p>
        {% endif %}
    </div>
</div>

<div class="container">
    <div class="row">
             {% if messages %}
                {% for message in messages %}
                    {% if message.tags == "success"%}
                        <div class="alert alert-success raleway-font">
                            <i class="fas fa-check"></i> {{ message }}
                        </div>
                    {% endif %}
                    {% if message.tags == "error"%}
                        <div class="alert alert-danger raleway-font">
                            <i class="fas fa-times"></i> {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
              {% endif %}
        </div>

    {% if beatmap_list %}
    <div class="row">
        {% for beatmap in beatmap_list %}
        {% include "wiki/snippets/beatmap_approval_card.html" %}
        {% endfor %}
    </div>
    {% endif %}

    {% if no_beatmap %}
    <div data-aos="fade-up" data-aos-duration="500">
        <h1 class="text-center">\ (•◡•) /</h1>
        <h3 class="text-center">{% trans "already_approve_all_beatmaps" %}</h3>
        <h3 class="text-center">{% trans "congrats" %}</h3>
    </div>
    {% endif %}
</div>

<p></p>

{% endblock content %}

{% block js %}
  <script src="https://code.jquery.com/jquery.min.js"></script>
  <script src="{% static "js/player.js" %}"></script>
    <script>
    $(document).ready(function () {
        $('.mediPlayer').mediaPlayer();
    });
    </script>
{% endblock %}

