{% extends "wiki/base.html" %}
{% load static %}
{% block content %}

<div class="px-4 py-4 my-4 align-middle hero">
    <div class="container align-middle">
        <div class="row">
            <p></p>
            <p></p>
            <div><h1 class="display-5 fw-bold" data-aos="fade-up" data-aos-duration="600" data-aos-once="true">Status</h1></div>
            <p data-aos="fade-up" data-aos-duration="700" data-aos-once="true">Status of all rulesets are here. (and you can download and update the rulesets instantly with this page!)</p>
        </div>
    </div>
</div>

    <p></p>

<div class="container">
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "success"%}
                <div class="alert alert-success">
                    <i class="fas fa-check"></i> {{ message }}
                </div>
            {% endif %}
            {% if message.tags == "error"%}
                <div class="alert alert-danger">
                    <i class="fas fa-times"></i> {{ message }}
                </div>
            {% endif %}
        {% endfor %}
      {% endif %}
    <div class="row text-center gy-4">
    </div>
</div>

    <p></p>

<div class="container">
    {% for ruleset in all_ruleset %}
    {% if ruleset.1 == 'github_with_direct' %}
    <div class="row" data-aos="fade-up" data-aos-duration="600" data-aos-once="true">
        <h1>
            {% if user.config.theme == 'light' %}
            <img src="{{ ruleset.0.light_icon.url }}" alt="{{ ruleset.0.name }}" width="40" height="40" class="rounded-circle hvr-icon"> 
            {% else %}
            <img src="{{ ruleset.0.icon.url }}" alt="{{ ruleset.0.name }}" width="40" height="40" class="rounded-circle hvr-icon"> 
            {% endif %}
            {{ ruleset.0.name }}
       </h1>
        <div class="col-8">
            <div class="alert alert-light">
                Coming Soon!
            </div>
        </div>
        <div class="col-4">
            <p><a class="text-decoration-none text-center spacing-hover-short hvr-icon-bounce" href="{{ ruleset.2.0 }}"><i class="fas fa-download icon-menu hvr-icon"></i> Download latest version</a></p>
            <p><a class="text-decoration-none text-center spacing-hover-short hvr-icon-bounce" href="{{ ruleset.2.1 }}"><i class="fab fa-github icon-menu hvr-icon"></i> GitHub release page</a></p>
        </div>
    </div>
    {% elif ruleset.1 == 'github' %}
    <div class="row" data-aos="fade-up" data-aos-duration="600" data-aos-once="true">
        <h1>
            {% if user.config.theme == 'light' %}
            <img src="{{ ruleset.0.light_icon.url }}" alt="{{ ruleset.0.name }}" width="40" height="40" class="rounded-circle hvr-icon"> 
            {% else %}
            <img src="{{ ruleset.0.icon.url }}" alt="{{ ruleset.0.name }}" width="40" height="40" class="rounded-circle hvr-icon"> 
            {% endif %}            
            {{ ruleset.0.name }}
        </h1>
        <div class="col-8">
            <div class="alert alert-light">
                Coming Soon!
            </div>
        </div>
        <div class="col-4">
            <p><a class="text-decoration-none text-center spacing-hover-short hvr-icon-bounce" href="{{ ruleset.2 }}"><i class="fab fa-github icon-menu hvr-icon"></i> GitHub release page</a></p>
        </div>
    </div>
    {% elif ruleset.1 == 'patreon' %}
    <div class="row" data-aos="fade-up" data-aos-duration="600" data-aos-once="true">
        <h1>
            {% if user.config.theme == 'light' %}
            <img src="{{ ruleset.0.light_icon.url }}" alt="{{ ruleset.0.name }}" width="40" height="40" class="rounded-circle hvr-icon"> 
            {% else %}
            <img src="{{ ruleset.0.icon.url }}" alt="{{ ruleset.0.name }}" width="40" height="40" class="rounded-circle hvr-icon"> 
            {% endif %}            
            {{ ruleset.0.name }}
        </h1>
        <div class="col-8">
            <div class="alert alert-light">
                Coming Soon!
            </div>
        </div>
        <div class="col-4">
            <p><a class="text-decoration-none text-center spacing-hover-short hvr-icon-bounce" href="{{ ruleset.2 }}"><i class="fab fa-patreon icon-menu hvr-icon"></i> Get from patreon</a></p>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>

<br>
{% endblock content %}