{% extends "wiki/base.html" %}
{% load static %}
{% load markdown_converter %}
{% load convert_file_size %}
{% block content %}

<div class="px-4 py-4 my-4 align-middle hero">
    <div class="container align-middle">
        <div class="row">
            <p></p>
            <p></p>
            <div><h1 class="display-5 fw-bold" data-aos="fade-up" data-aos-duration="600" data-aos-once="true">Status</h1></div>
            <p data-aos="fade-up" data-aos-duration="700" data-aos-once="true">Status of all rulesets are here. (and you can download and update the rulesets instantly with this page!)</p>
        </div>
    </div>
</div>

    <p></p>

<div class="container">
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == "success"%}
                <div class="alert alert-success">
                    <i class="fas fa-check"></i> {{ message }}
                </div>
            {% endif %}
            {% if message.tags == "error"%}
                <div class="alert alert-danger">
                    <i class="fas fa-times"></i> {{ message }}
                </div>
            {% endif %}
        {% endfor %}
      {% endif %}
    <div class="row text-center gy-4">
    </div>
</div>

    <p></p>

<div class="container">
    {% for ruleset in all_ruleset %}
    {% if ruleset.1 == 'github_with_direct' %}
    <div class="row rounded border border-1 p-2" data-aos="fade-up" data-aos-duration="600" data-aos-once="true">
        <h1>
            {% if user.config.theme == 'light' %}
            <img src="{{ ruleset.0.light_icon.url }}" alt="{{ ruleset.0.name }}" width="40" height="40" class="rounded-circle hvr-icon"> 
            {% else %}
            <img src="{{ ruleset.0.icon.url }}" alt="{{ ruleset.0.name }}" width="40" height="40" class="rounded-circle hvr-icon"> 
            {% endif %}
            {{ ruleset.0.name }}
            {% if ruleset.2.2.playable == "yes" %}
                <span class="badge rounded-pill bg-success">playable</span>
            {% elif ruleset.2.2.playable == "no" %}
                <span class="badge rounded-pill bg-danger">borked</span>
            {% else %}
                <span class="badge rounded-pill bg-secondary">unknown</span>
            {% endif %}
            {% if ruleset.2.2.pre_release %}
                <span class="badge rounded-pill" style="background-color: #c7a000;">pre-release</span>
            {% endif %}
       </h1>
        <div class="col-8">
            <h4>Latest version name</h4>
            <p>{{ ruleset.2.2.latest_version }}</p>
            <h4>Latest release</h4>
            <p>{{ ruleset.2.2.latest_update|date:"F j, Y h:i A" }} UTC</p>
            <h4>File Detail</h4>
            <p class="mono-font">Size : {{ ruleset.2.2.file_size | convert_file_size }}</p>
            <div class="row">
            <div class="accordion" id="changelog-{{ ruleset.0.slug }}-accordian">
                <div class="accordion-item">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="changelog-{{ ruleset.0.slug }}">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ ruleset.0.slug }}" aria-expanded="false" aria-controls="changelog-{{ ruleset.0.slug }}">
                              <b>Latest Version Changelog</b>
                          </button>
                        </h2>
                        <div id="collapse-{{ ruleset.0.slug }}" class="accordion-collapse collapse" aria-labelledby="changelog-{{ ruleset.0.slug }}" data-bs-parent="#changelog-{{ ruleset.0.slug }}-accordian">
                          <div class="accordion-body">
                              {{ ruleset.2.2.changelog | convert_markdown | safe }}
                          </div>
                        </div>
                    </div>
                </div>
            </div>
            <p></p>
        </div>

        </div>
        <div class="col-4">
            {% if not ruleset.2.2.pre_release %}
            <p><a class="text-decoration-none text-center spacing-hover-short hvr-icon-bounce" href="{{ ruleset.2.0 }}"><i class="fas fa-download icon-menu hvr-icon"></i> Download latest version</a></p>
            {% endif %}
            <p><a class="text-decoration-none text-center spacing-hover-short hvr-icon-bounce" href="{{ ruleset.2.1 }}"><i class="fab fa-github icon-menu hvr-icon"></i> GitHub release page</a></p>
            <p><a class="text-decoration-none text-center spacing-hover-short hvr-icon-bounce" href="{% url 'wiki' ruleset.0.slug %}"><i class="fas fa-location-arrow icon-menu hvr-icon"></i> Go to rulesets wiki page</a></p>
        </div>
    </div>
    {% elif ruleset.1 == 'github' %}
    <div class="row rounded border border-1 p-2" data-aos="fade-up" data-aos-duration="600" data-aos-once="true">
        <h1>
            {% if user.config.theme == 'light' %}
            <img src="{{ ruleset.0.light_icon.url }}" alt="{{ ruleset.0.name }}" width="40" height="40" class="rounded-circle hvr-icon"> 
            {% else %}
            <img src="{{ ruleset.0.icon.url }}" alt="{{ ruleset.0.name }}" width="40" height="40" class="rounded-circle hvr-icon"> 
            {% endif %}            
            {{ ruleset.0.name }}
            {% if ruleset.2.1.playable == "yes" %}
                <span class="badge rounded-pill bg-success">playable</span>
            {% elif ruleset.2.1.playable == "no" %}
                <span class="badge rounded-pill bg-danger">borked</span>
            {% else %}
                <span class="badge rounded-pill bg-secondary">unknown</span>
            {% endif %}
            {% if ruleset.2.1.pre_release %}
                <span class="badge rounded-pill" style="background-color: #c7a000;">pre-release</span>
            {% endif %}
        </h1>
        <div class="col-8">
            <p><i class="fas fa-exclamation-circle"></i> Function is not available due to the rulesets source is from GitHub and <code>Ruleset Filename</code> field is missing or blank. Please fill the <code>Ruleset Filename</code> in the rulesets setting!</p>
        </div>
        <div class="col-4">
            <p><a class="text-decoration-none text-center spacing-hover-short hvr-icon-bounce" href="{{ ruleset.2 }}"><i class="fab fa-github icon-menu hvr-icon"></i> GitHub release page</a></p>
            <p><a class="text-decoration-none text-center spacing-hover-short hvr-icon-bounce" href="{% url 'wiki' ruleset.0.slug %}"><i class="fas fa-location-arrow icon-menu hvr-icon"></i> Go to rulesets wiki page</a></p>
        </div>
    </div>
    {% elif ruleset.1 == 'patreon' %}
    <div class="row rounded border border-1 p-2" data-aos="fade-up" data-aos-duration="600" data-aos-once="true">
        <h1>
            {% if user.config.theme == 'light' %}
            <img src="{{ ruleset.0.light_icon.url }}" alt="{{ ruleset.0.name }}" width="40" height="40" class="rounded-circle hvr-icon"> 
            {% else %}
            <img src="{{ ruleset.0.icon.url }}" alt="{{ ruleset.0.name }}" width="40" height="40" class="rounded-circle hvr-icon"> 
            {% endif %}            
            {{ ruleset.0.name }}
            {% if ruleset.2.1.playable == "yes" %}
                <span class="badge rounded-pill bg-success">playable</span>
            {% elif ruleset.2.1.playable == "no" %}
                <span class="badge rounded-pill bg-danger">borked</span>
            {% else %}
                <span class="badge rounded-pill bg-secondary">unknown</span>
            {% endif %}
            {% if ruleset.2.1.pre_release %}
                <span class="badge rounded-pill" style="background-color: #c7a000;">pre-release</span>
            {% endif %}
        </h1>
        <div class="col-8">
            <p><i class="fas fa-exclamation-circle"></i> This function is not support in rulesets that is from Patreon. You can go to rulesets creator's Patreon at <code>Get from Patreon</code>!</p>
        </div>
        <div class="col-4">
            <p><a class="text-decoration-none text-center spacing-hover-short hvr-icon-bounce" href="{{ ruleset.2.0 }}"><i class="fab fa-patreon icon-menu hvr-icon"></i> Get from Patreon</a></p>
            <p><a class="text-decoration-none text-center spacing-hover-short hvr-icon-bounce" href="{% url 'wiki' ruleset.0.slug %}"><i class="fas fa-location-arrow icon-menu hvr-icon"></i> Go to rulesets wiki page</a></p>
        </div>
    </div>
    {% else %}
    <div class="row rounded border border-1 p-2" data-aos="fade-up" data-aos-duration="600" data-aos-once="true">
        <h1>
            {% if user.config.theme == 'light' %}
            <img src="{{ ruleset.0.light_icon.url }}" alt="{{ ruleset.0.name }}" width="40" height="40" class="rounded-circle hvr-icon">
            {% else %}
            <img src="{{ ruleset.0.icon.url }}" alt="{{ ruleset.0.name }}" width="40" height="40" class="rounded-circle hvr-icon">
            {% endif %}
            {{ ruleset.0.name }}
            {% if ruleset.2.1.playable == "yes" %}
                <span class="badge rounded-pill bg-success">playable</span>
            {% elif ruleset.2.1.playable == "no" %}
                <span class="badge rounded-pill bg-danger">borked</span>
            {% else %}
                <span class="badge rounded-pill bg-secondary">unknown</span>
            {% endif %}
            {% if ruleset.2.1.pre_release %}
                <span class="badge rounded-pill" style="background-color: #c7a000;">pre-release</span>
            {% endif %}
        </h1>
        <div class="col-8">
            <p><i class="fas fa-exclamation-circle"></i> Rūrusetto-chan don't know this link's type so you can download the ruleset from its source. </p>
        </div>
        <div class="col-4">
            <p><a class="text-decoration-none text-center spacing-hover-short hvr-icon-bounce" href="{{ ruleset.2.0 }}"><i class="fas fa-external-link-square-alt icon-menu hvr-icon"></i> Ruleset Source</a></p>
            <p><a class="text-decoration-none text-center spacing-hover-short hvr-icon-bounce" href="{% url 'wiki' ruleset.0.slug %}"><i class="fas fa-location-arrow icon-menu hvr-icon"></i> Go to rulesets wiki page</a></p>
        </div>
    </div>
    {% endif %}
    <p></p>
    {% endfor %}
</div>

<br>
{% endblock content %}