{% extends "wiki/base.html" %}
{% load static %}
{% load markdown_converter %}

{% block css_link %}
<link rel="stylesheet" href="{{ content.custom_css.url }}">
{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/wiki-page.css' %}">
    <div class="px-4 py-4 my-4 align-middle hero">
        <div class="container align-middle">
            <div class="row">
                <p></p>
                {% if user_detail.1 == None %}
                    {% if content.verified %}
                        <p class="text-muted" data-aos="fade-up" data-aos-duration="600"><img src="{% static 'img/default.png' %}" alt="Deleted User" width="32" height="32" class="rounded-circle hvr-icon"> Deleted User <i class="fas fa-check-circle verified-circle icon-menu hvr-icon" data-bs-toggle="tooltip" data-bs-placement="top" title="Verified rulesets creator"></i></p>
                    {% else %}
                        <p class="text-muted" data-aos="fade-up" data-aos-duration="600"><img src="{% static 'img/default.png' %}" alt="Deleted User" width="32" height="32" class="rounded-circle hvr-icon"> Deleted User </p>
                    {% endif %}
                {% else %}
                    {% if content.verified %}
                        <div data-aos="fade-up" data-aos-duration="600"><a href="{% url "profile" user_detail.1.id %}" class="hvr-picture-bounce text-decoration-none spacing-hover profile-link"><p class="text-muted"><img src="{{ user_detail.1.profile.image.url }}" alt="{{ user_detail.1.username }}" width="32" height="32" class="rounded-circle hvr-icon" style="transition: 0.2s"> {{ user_detail.1.username }} <i class="fas hvr-icon fa-check-circle icon-menu" data-bs-toggle="tooltip" data-bs-placement="top" title="Verified rulesets creator"></i></p></a></div>
                    {% else %}
                        <div data-aos="fade-up" data-aos-duration="600"><a href="{% url "profile" user_detail.1.id %}" class="hvr-picture-bounce text-decoration-none spacing-hover profile-link"><p class="text-muted"><img src="{{ user_detail.1.profile.image.url }}" alt="{{ user_detail.1.username }}" width="32" height="32" class="rounded-circle hvr-icon" style="transition: 0.2s"> {{ user_detail.1.username }}</p></a></div>
                    {% endif %}
                {% endif %}

                <div data-aos="fade-up" data-aos-duration="700"><h1 class="display-5 fw-bold">{{ content.name }}</h1></div>
                <p data-aos="fade-up" data-aos-duration="800">{{ content.description }}</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% if user.is_authenticated %}
            {% if has_edit_permission %}
            <div class="col-sm-2">
                <p data-aos="fade-up" data-aos-duration="900"><a class="text-decoration-none text-center spacing-hover-short hvr-icon-bounce" href="{% url "edit_wiki" content.slug %}"><i class="fas fa-edit icon-menu hvr-icon"></i> Edit rulesets info</a></p>
            </div>
            {% endif %}
            <div class="col-sm-2">
                <p data-aos="fade-up" data-aos-duration="950"><a class="text-decoration-none text-center spacing-hover-short hvr-icon-bounce" href="{% url "add_subpage" content.slug %}"><i class="fas fa-file icon-menu hvr-icon"></i> Add new subpage</a></p>
            </div>
            {% endif %}
            <div class="col-sm-2" id="recommend-beatmap-link">
                <p data-aos="fade-up" data-aos-duration="1000"><a class="text-decoration-none text-center spacing-hover-short hvr-icon-bounce" href="{% url "recommend_beatmap" content.slug %}"><i class="fas fa-thumbs-up icon-menu hvr-icon"></i> Recommend beatmaps</a></p>
            </div>
        {% if can_download %}
            <div class="col-sm-2">
                <p data-aos="fade-up" data-aos-duration="1050"><a class="text-decoration-none text-center spacing-hover-short hvr-icon-bounce" href="{{ download_link }}"><i class="fas fa-download icon-menu hvr-icon"></i> Download</a></p>
            </div>
        {% endif %}
        </div>
        <div class="row">
             {% if messages %}
                {% for message in messages %}
                    {% if message.tags == "success"%}
                        <div class="alert alert-success raleway-font">
                            <i class="fas fa-check"></i> {{ message }}
                        </div>
                    {% endif %}
                    {% if message.tags == "error"%}
                        <div class="alert alert-danger raleway-font">
                            <i class="fas fa-times"></i> {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
              {% endif %}
        </div>
        {% if content.archive %}
        <div class="row">
            <div class="alert alert-warning raleway-font">
                <i class="fas fa-archive"></i> This ruleset is marked as archived and no longer update by the creator.
            </div>
        </div>
        {% endif %}
        <div class="row" id="last-edit">
            {% if user_detail.2 == None %}
            <p class="text-muted" data-aos="fade-up" data-aos-duration="1000">Last edited by <img src="{% static 'img/default.png'%}" alt="Deleted User" width="32" height="32" class="rounded-circle hvr-icon"> Deleted User at {{ content.last_edited_at|date:"F j, Y h:i A" }} UTC</p>
            {% else %}
            <p class="text-muted" data-aos="fade-up" data-aos-duration="1000">Last edited by <a href="{% url "profile" user_detail.2.id %}" class="hvr-picture-bounce text-decoration-none spacing-hover"><img src="{{ user_detail.2.profile.image.url }}" alt="{{ user_detail.2.username }}" width="32" height="32" class="rounded-circle hvr-icon"> {{ user_detail.2.username }}</a> at {{ content.last_edited_at|date:"F j, Y h:i A" }} UTC</p>
            {% endif %}
        </div>
        {% if subpage %}
        {% if user.config.subpage_index == "list" %}
        <div class="row">
            <div class="accordion" id="subpage-index" data-aos="fade-up" data-aos-duration="1000">
                <div class="accordion-item">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="subpage-heading">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#subpageCollapse" aria-expanded="false" aria-controls="subpageCollapse">
                            <i class="fas fa-file-alt"></i> Subpage Index
                          </button>
                        </h2>
                        <div id="subpageCollapse" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                        {% if hidden_subpage %}
                          <div class="accordion-body">
                              {% for subpage_item in hidden_subpage %}
                                  <li class="text-muted"><a href="{% url 'subpage' content.slug subpage_item.slug %}" class="text-decoration-none spacing-hover">{{ subpage_item.title }}</a></li>
                              {% endfor %}
                          </div>
                        {% endif %}
                          <div class="accordion-body">
                              {% for subpage_item in subpage %}
                                  <li><a href="{% url 'subpage' content.slug subpage_item.slug %}" class="text-decoration-none spacing-hover">{{ subpage_item.title }}</a></li>
                              {% endfor %}
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="row" data-aos="fade-up" data-aos-duration="1000">
            {% if hidden_subpage %}
            <div class="col-md-12">
                {% for subpage_item in hidden_subpage %}
                <a class="btn btn-subpage text-muted" href="{% url 'subpage' content.slug subpage_item.slug %}" role="button">{{ subpage_item.title }}</a>
                {% endfor %}
            </div>
            <p></p>
            {% endif %}
            <div class="col-md-12">
                {% for subpage_item in subpage %}
                <a class="btn btn-subpage" href="{% url 'subpage' content.slug subpage_item.slug %}" role="button">{{ subpage_item.title }}</a>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        {% endif %}
        <p></p>
        <div class="row">
            <div class="col-sm-9" id="wiki">
                {{ content.content | convert_markdown | safe }}
                <p></p>
            </div>
            <div class="col-sm-3 gap-3" id="infobox">
                <div class="row rounded info-box">
                    <img src="{{ content.logo.url }}" alt="{{ content.name }} logo">
                    <h2 class="text-center">{{ content.name }}</h2>
                    <dl class="row">
                        <dt class="col-sm-5 info-box-head">Creator</dt>
                        <dd class="col-sm-7">
                            {% if user_detail.1 == None %}
                            {% if content.verified %}
                                <p class="text-muted"><img src="{% static 'img/default.png' %}" alt="Deleted User" width="32" height="32" class="rounded-circle hvr-icon"> Deleted User <i class="fas fa-check-circle verified-circle icon-menu hvr-icon" data-bs-toggle="tooltip" data-bs-placement="right" title="Verified rulesets creator"></i></p>
                            {% else %}
                                <p class="text-muted"><img src="{% static 'img/default.png' %}" alt="Deleted User" width="32" height="32" class="rounded-circle hvr-icon"> Deleted User </p>
                            {% endif %}
                            {% else %}
                            {% if content.verified %}
                                <a href="{% url "profile" user_detail.1.id %}" class="hvr-picture-bounce text-decoration-none spacing-hover"><p class="text-muted"><img src="{{ user_detail.1.profile.image.url }}" alt="{{ user_detail.1.username }}" width="32" height="32" class="rounded-circle hvr-icon" style="transition: 0.2s"> {{ user_detail.1.username }} <i class="fas hvr-icon fa-check-circle icon-menu" data-bs-toggle="tooltip" data-bs-placement="top" title="Verified rulesets creator"></i></p></a>
                            {% else %}
                                <a href="{% url "profile" user_detail.1.id %}" class="hvr-picture-bounce text-decoration-none spacing-hover"><p class="text-muted"><img src="{{ user_detail.1.profile.image.url }}" alt="{{ user_detail.1.username }}" width="32" height="32" class="rounded-circle hvr-icon" style="transition: 0.2s"> {{ user_detail.1.username }}</p></a>
                            {% endif %}
                            {% endif %}
                    </dl>
                </div>
                <p></p>
                <div class="row">
                    {% if source_type == "github" %}
                        <p><a class="text-decoration-none text-center spacing-hover-short hvr-icon-bounce" target="_blank" href="{{ content.source }}"><i class="fa fa-github icon-menu hvr-icon"></i> GitHub Repositories</a></p>
                    {% elif source_type == "patreon"%}
                        <p><a class="text-decoration-none text-center spacing-hover-short hvr-icon-bounce" target="_blank" href="{{ content.source }}"><i class="fab fa-patreon icon-menu hvr-icon"></i> Get from Patreon</a></p>
                    {% else %}
                        <p><a class="text-decoration-none text-center spacing-hover-short hvr-icon-bounce" target="_blank" href="{{ content.source }}"><i class="fas fa-external-link-square-alt icon-menu hvr-icon"></i> Ruleset Source</a></p>
                    {% endif %}
                </div>
                {% if can_support %}
                <div class="row">
                    <p id="support-text"><a class="text-decoration-none text-center spacing-hover-short hvr-icon-bounce" data-bs-toggle="modal" data-bs-target="#supportModal"><i class="fas fa-heart icon-menu hvr-icon"></i> Support the creator</a></p>
                </div>
                <div class="modal fade" id="supportModal" tabindex="-1" aria-labelledby="supportModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="supportModalLabel">Support {{ user_detail.1.username }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        {% if user_detail.1.profile.support_message != "" %}
                        <h3>Message from {{ user_detail.1.username }}</h3>
                          <p>{{ user_detail.1.profile.support_message }}</p>
                        {% endif %}
                          {% if user_detail.1.profile.support_patreon != "" %}
                          <p><a class="text-decoration-none text-center spacing-hover-short hvr-icon-bounce" target="_blank" href="{{ user_detail.1.profile.support_patreon }}"><i class="fab fa-patreon icon-menu hvr-icon"></i> Patreon</a></p>
                          {% endif %}
                          {% if user_detail.1.profile.support_kofi != "" %}
                          <p><a class="text-decoration-none text-center spacing-hover-short hvr-icon-bounce" target="_blank" href="{{ user_detail.1.profile.support_kofi }}"><i class="fas fa-coffee icon-menu hvr-icon"></i> Buy a Coffee</a></p>
                          {% endif %}
                          {% if user_detail.1.profile.support_github_sponsors != "" %}
                          <p><a class="text-decoration-none text-center spacing-hover-short hvr-icon-bounce" target="_blank" href="{{ user_detail.1.profile.support_github_sponsors }}"><i class="fab fa-github icon-menu hvr-icon"></i> GitHub Sponsors</a></p>
                          {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}

{% block js %}
    <script src="{% static 'js/wiki.js' %}"></script>
{% endblock %}